<!DOCTYPE html><html lang="vi"><head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta property="og:type" content="website"><meta property="og:url" content="http://thiepdo.com/gold-star"><meta property="og:description" content="{{ description }}"><meta property="og:title" content="{{ name }}"><meta property="og:image" content="/bundles/viettutweb/img/templates/goldstar/9b854c77bd8bd11be8cfd28c7240e73e.jpg"><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="format-detection" content="telephone=no"><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"><meta name="robots" content="noindex"><link href="/bundles/viettutweb/img/thiepdo_120x120.png" sizes="120x120" rel="apple-touch-icon"><link rel="icon" sizes="144x144" href="/bundles/viettutweb/img/thiepdo_144x144.png"><link rel="icon" sizes="64x64" href="/bundles/viettutweb/img/thiepdo_64x64.png"><title>{{ name }}</title><link rel="stylesheet" type="text/css" href="{{ asset('css/libraries.min.css') }}"><link rel="stylesheet" type="text/css" href="{{ asset('css/goldstar/app.css') }}"></head><body><h1 class="hide">Gold st ars- Dải ngân hà</h1><h2 class="hide">Trắng tinh khôi điểm xuyết sao vàng lấp lánh mang đến cảm giác lung linh huyền diệu như một giấc mơ.</h2><div id="coordinates" data-lon="{{ lon }}" data-lat="{{ lat }}" data-title="{{ data['place'] }}" data-home-lon="{{ homeLon }}" data-home-lat="{{ homeLat }}" data-home-title="{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}"></div><div id="card_id" data-id="{{ id }}"></div><div data-role="page" id="skin_page"><div data-role="panel" id="panel_groom" class="leftpanel" data-position="left" data-display="push" data-position-fixed="true" data-swipe-close="true" data-theme="b"><div class="groom-wrap"><ul><a href="tel:{{ data['groom_phone'] }}"><li class="ico5">Gọi điện</li></a><a href="sms:{{ data['groom_phone'] }}"><li class="ico6">Nhắn tin</li></a>{% if 'groom_facebook' in data|keys %} <a href="{{ data['groom_facebook'] }}" target="_blank" title="Facebook"><li class="ico7">Facebook</li></a>{% else %} <a href="http://facebook.com/thiepdodigital" target="_blank" title="Facebook"><li class="ico7">Facebook</li></a>{% endif %} {% if 'groom_instagram' in data|keys %} <a href="{{ data['groom_instagram'] }}" target="_blank" title="Instagram"><li class="ico_insta">Instagram</li></a>{% else %} <a href="http://instagram.com/thiepdodigital" target="_blank" title="Instagram"><li class="ico_insta">Instagram</li></a>{% endif %}</ul><p class="btn_go_snsbbs">Lưu bút</p></div></div><div data-role="panel" id="panel_bride" class="righttpanel" data-position="right" data-display="push" data-position-fixed="true" data-swipe-close="true" data-theme="a"><div class="bride-wrap"><ul><a href="tel:{{ data['bride_phone'] }}"><li class="ico1">Gọi điện</li></a><a href="sms:{{ data['bride_phone'] }}"><li class="ico2">Nhắn tin</li></a>{% if 'bride_facebook' in data|keys %} <a href="{{ data['bride_facebook'] }}" target="_blank" title="Facebook"><li class="ico3">Facebook</li></a>{% else %} <a href="http://facebook.com/thiepdodigital" target="_blank" title="Facebook"><li class="ico3">Facebook</li></a>{% endif %} {% if 'bride_instagram' in data|keys %} <a href="http://instagram.com/{{ data['bride_instagram'] }}" target="_blank" title="Instagram"><li class="ico_insta">Instagram</li></a>{% else %} <a href="http://instagram.com/thiepdodigital" target="_blank" title="Instagram"><li class="ico_insta">Instagram</li></a>{% endif %}</ul><p class="btn_go_snsbbs">Lưu bút</p></div></div><div data-role="panel" id="right-panel" data-position="right" data-display="push"><div class="menu-wrap ui-panel-inner"><ul data-role="listview" data-icon="false"><li class="menu_scrolls" data-rel="close"><span>TRANG CHỦ</span></li><li class="menu_scrolls" data-rel="close" id="p_topinfo"><span>LỜI TỰA</span></li><li class="menu_scrolls" data-rel="close" id="p_gallery"><span>ALBUM ẢNH</span></li><li class="menu_scrolls" data-rel="close" id="p_media"><span>VIDEO</span></li><li class="menu_scrolls" data-rel="close" id="p_snsbbs"><span>LƯU BÚT</span></li><li class="menu_scrolls" data-rel="close" id="p_map"><span>ĐỊA ĐIỂM</span></li></ul></div></div><div class="lnb slideDown"><div class="lnb_title">JUST MARRIED!</div><ul><li class="menu1 menu_scrolls"><span>TRANG CHỦ</span></li><li class="menu1 menu_scrolls on" id="m_topinfo"><span>LỜI TỰA</span></li><li class="menu2 menu_scrolls" id="m_gallery"><span>ALBUM ẢNH</span></li><li class="menu3 menu_scrolls" id="m_media"><span>VIDEO</span></li><li class="menu4 menu_scrolls" id="m_snsbbs"><span>LƯU BÚT</span></li><li class="menu5 menu_scrolls" id="m_map"><span>ĐỊA ĐIỂM</span></li></ul></div><div class="lnb_mobile"><a href="#right-panel"><img src="/bundles/viettutweb/img/templates/goldstar/lnb_mobile.png" alt=""></a></div><div id="sk_topinfo" class="header"><div class="header_bg"></div><div class="header_content"><div class="header_photo"><p></p></div><div class="header_title"><p class="hd_name">{% if forGroom %} {{ data['groom_name'] }}<span>và</span>{{ data['bride_name'] }} {% else %} {{ data['bride_name'] }}<span>và</span>{{ data['groom_name'] }} {% endif %}</p><p class="hd_date">{{ date | long_date }}, hồi {{ date | date('H:i') }}</p><p class="hd_loca">(tức {{ dateAl }})</p><p class="hd_loca">{{ data['place'] }}</p></div><div class="header_panel">{% if forGroom %}<p class="groom slideLeft"><a href="#panel_groom">CHÚ RỂ</a></p><p class="bride slideRight"><a href="#panel_bride">CÔ DÂU</a></p>{% else %}<p class="bride slideRight"><a href="#panel_groom">CHÚ RỂ</a></p><p class="groom slideLeft"><a href="#panel_bride">CÔ DÂU</a></p>{% endif %}</div></div><div class="scroll slideUp"><span>Trượt xuống</span></div></div><div class="greeting_wrap"><div class="greeting_textbox"><h2 class="title"><img src="/bundles/viettutweb/img/templates/goldstar/greeting_title.png" alt="WEDDING INVITATION"></h2><p>{{ data['greeting'] }}</p>{% if forGroom %}<table class="greeting_name"><thead><tr><th>Nhà Trai</th><th>Nhà Gái</th></tr></thead><tbody><tr><td class="gn2">{{ data['groom_fa_name'] }}</td><td class="gn1">{{ data['bride_fa_name'] }}</td></tr><tr><td class="gn2">{{ data['groom_mo_name'] }}</td><td class="gn1">{{ data['bride_mo_name'] }}</td></tr></tbody></table>{% else %}<table class="greeting_name"><thead><tr><th>Nhà Gái</th><th>Nhà Trai</th></tr></thead><tbody><tr><td class="gn2">{{ data['bride_fa_name'] }}</td><td class="gn1">{{ data['groom_fa_name'] }}</td></tr><tr><td class="gn2">{{ data['bride_mo_name'] }}</td><td class="gn1">{{ data['groom_mo_name'] }}</td></tr></tbody></table>{% endif %}</div></div><div class="gallery_wrap ui-cont-b" id="sk_gallery"><h2 class="title title_pink"><span>ALBUM ẢNH</span></h2><div class="ul-body"><div class="gal_list2"><div class="gal_size"></div>{% for img in gallery %} <a href="{{ img['src'] }}" class="swipebox" data-ajax="false" data-size="{{ img['size'] }}" imgid="{{ loop.index }}">{% if (gallery|length == loop.index) or (loop.index >= 10) %}<div class="gal_more"><span>more</span></div>{% else %}<div class="gal_frame"><img src="{{ img['src'] }}"></div>{% endif %} </a>{% endfor %}</div></div></div>{% if isTemplate %}<div class="movie_wrap ui-cont-b"><h2 class="title hidden">VIDEO</h2><div class="ul-body"><div class="movie_container movie1"><ul><li class="iframe-container"><iframe id="movie" width="100%" src="https://www.youtube.com/embed/Q9aUb6FJdhk?showinfo=0&autohide=1&rel=0&vq=hd1080" height="100%" frameborder="0" allowfullscreen></iframe></li></ul></div><div class="lovestory"><p class="lovestory_img"><img src="/bundles/viettutweb/img/templates/goldstar/movie_text3.png" alt="Love Story"></p><p class="lovestory_txt">Now at last they were beginning Chapter One<br>of the Great Story no one on earth has ever read.<br>which goes on forever :<br>in which every chapter is better than the one before.</p></div></div></div>{% else %} {% if embed | length > 0 %}<div class="movie_wrap ui-cont-b"><h2 class="title hidden">VIDEO</h2><div class="ul-body"><div class="movie_container movie1"><ul><li class="iframe-container">{{ embed | raw }}</li></ul></div><div class="lovestory"><p class="lovestory_img"><img src="/bundles/viettutweb/img/templates/goldstar/movie_text3.png" alt="Love Story"></p><p class="lovestory_txt">Now at last they were beginning Chapter One<br>of the Great Story no one on earth has ever read.<br>which goes on forever :<br>in which every chapter is better than the one before.</p></div></div></div>{% endif %} {% endif %}<div class="guestbook_wrap ui-cont-b" id="sk_snsbbs"><h2 class="title title_pink"><span>LƯU BÚT</span></h2><div class="ul-body col-3"><div class="gb_msg">Hãy chúc mừng cho ngày vui của cô dâu chú rể !</div><div id="div_snsbbs">{% if isTemplate %}<div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture"></div><div class="pro_txt"><p><strong>Sunny</strong></p><p class="date">2016-11-04 09:03</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>I sincerely congratulate the marriage of the two! I really married when I saw two people and I married like this !!!! Really Too Much Too Much Too Pretty Couple Happily Long To Live Ham Frying ~~~</p></li></ul></div></div></div><div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture"></div><div class="pro_txt"><p><strong>Windy</strong></p><p class="date">2016-10-05 15:36</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>Chúc mừng đôi trẻ !</p><div class="emo-type-a emo08"></div></li></ul></div></div></div><div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture"> {#<div class="pro-sns instagram"><span></span></div>#}</div><div class="pro_txt"><p><strong>Song Song</strong></p><p class="date">2016-07-19 18:12</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>Xin chúc mừng về hôn nhân !!</p></li></ul></div></div></div><div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture"></div><div class="pro_txt"><p><strong>Hoàng Hôn</strong></p><p class="date">2015-08-07 13:33</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>Tôi ngưỡng mộ hai bạn</p><div class="emo-type-a emo02"></div></li></ul></div></div></div><div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture"></div><div class="pro_txt"><p><strong>Hương Quỳnh</strong></p><p class="date">2015-06-23 17:08</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>Tuyệt vời quá đẹp</p></li></ul></div></div></div><div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture"></div><div class="pro_txt"><p><strong>이남수</strong></p><p class="date">2015-04-15 11:36</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>Tôi thực sự chúc mừng bạn</p><div class="emo-type-a emo08"></div></li></ul></div></div></div><div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture"></div><div class="pro_txt"><p><strong>Mạnh Hùng</strong></p><p class="date">2015-03-05 17:03</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>Đây là thứ đẹp nhất mà tôi từng thấy !</p><div class="emo-type-b emo04"></div></li></ul></div></div></div><div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture"></div><div class="pro_txt"><p><strong>Sương Đêm</strong></p><p class="date">2015-03-05 17:03</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>Sống thật hạnh phúc nhé bạn của tôi</p></li></ul></div></div></div>{% else %} {% for comment in comments %}<div class="snsbbs_sections"><div class="ui-body-d"><div class="gb_cont_box btn_go_snsbbs"><div class="pro_info"><div class="pro_img"><img src="{{ comment.author.avatar }}" alt="profile picture"></div><div class="pro_txt"><p><strong>{{ comment.author.name }}</strong></p><p class="date">{{ comment.createdAt | date('d-m-Y H:i') }}</p></div></div><ul class="gb_cont btn_go_snsbbs"><li class="comm_txt"><p>{{ comment.content }}</p></li></ul></div></div></div>{% endfor %} {% endif %}</div></div>{% if isTemplate %}<div class="gb_btn btn_go_snsbbs" onclick="guestBookAlert()"><span>Chúc mừng</span></div>{% else %}<div class="gb_btn btn_go_snsbbs" onclick='gotoGuestBook("{{ hash }}")'><span>Chúc mừng</span></div>{% endif %}</div><div class="location_wrap ui-cont-b" id="sk_map"><h2 class="title title_gold"><span>ĐỊA ĐIỂM</span></h2><div class="ul-body"><div class="col-2"><div class="ui-block-a"><ul class="lo_tab_wrap"><li class="tab_btn wh locationtabs on" id="tabs_wedding">Lễ Thành Hôn</li><li class="tab_btn rh locationtabs" id="tabs_party">Tiệc cưới</li></ul></div></div></div><div class="ul-body locationdivs" id="div_wedding"><div class="lo_box col-2"><div class="ui-block-a"><h3 class="lo_title">{{ data['home'] }}</h3><div class="lo_map"><div id="wedding_pmap_canvas" class="not_view_panel" style="width:100%;height:500px;"></div></div><div class="nav-wrap"><div class="ui-grid-a nav-m"><form action="https://maps.google.com/maps" method="get" target="_blank" id="getHomePath"><input type="text" name="saddr" placeholder="địa chỉ của bạn"> <input type="hidden" name="daddr" value='{{ data["home"] }}'></form><div class="nav-1"><div class="ui-body-d ui-btn-nav wedding_kimnavi"><span class="ui-btn ui-icon-nav1 ui-btn-icon-left ui-btn-b ui-corner-all ui-shadow ui-custom-btn fc-fff" onclick="getHomePath()">CHỈ ĐƯỜNG</span></div></div></div></div><div class="nav_info">※ Gõ chính xác địa chỉ của bạn vào ô ở trên.</div></div><div class="ui-block-b"><table class="lo_container"><tr><th class="lo_date">Thời gian</th><td>{{ weddingDate | long_date }}, hồi {{ weddingDate | date('H:i') }}</td></tr><tr><th class="lo_loca">{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}</th><td>{{ data['home'] }}</td></tr><tr><th class="lo_tel">Hướng dẫn</th><td>{{ data['home_info'] }}</td></tr><tr><th class="lo_tel">Liên hệ</th><td>{{ data['home_contact'] }}</td></tr></table></div></div></div><div class="ul-body locationdivs hide" id="div_party"><div class="lo_box col-2"><div class="ui-block-a"><h3 class="lo_title">{{ data['place'] }}</h3><div class="lo_map"><div id="party_pmap_canvas" class="not_view_panel" style="width:100%;height:500px;"></div></div><div class="nav-wrap"><div class="ui-grid-a nav-m"><form action="https://maps.google.com/maps" method="get" target="_blank" id="getPath"><input type="text" name="saddr" placeholder="địa chỉ của bạn"> <input type="hidden" name="daddr" value='{{ data["place_addr"] }}'></form><div class="nav-1"><div class="ui-body-d ui-btn-nav wedding_kimnavi"><span class="ui-btn ui-icon-nav1 ui-btn-icon-left ui-btn-b ui-corner-all ui-shadow ui-custom-btn fc-fff" onclick="getPath()">CHỈ ĐƯỜNG</span></div></div></div></div><div class="nav_info">※ Gõ chính xác địa chỉ của bạn vào ô ở trên.</div></div><div class="ui-block-b"><table class="lo_container"><tr><th class="lo_date">Thời gian</th><td>{{ date | long_date }}, hồi {{ date | date('H:i') }}</td></tr><tr><th class="lo_loca">Tiệc cưới</th><td>{{ data['place_addr'] }}</td></tr><tr><th class="lo_info">Hướng dẫn</th><td>{{ data['place_info'] }}</td></tr><tr><th class="lo_tel">Liên hệ</th><td>{{ data['place_phone'] }}</td></tr><tr><th class="lo_bus">Xe Khách</th><td>{{ data['bus_info'] }}</td></tr></table></div></div></div></div><div class="footer" id="sk_snslink"><div class="contents"><h4><a href="{{ path('home_page') }}" target="_blank"><img src="/bundles/viettutweb/img/templates/gardenwedding/lowercase-t-64-269636.png" alt="logo" title="thiepdo.com"> </a><span></span></h4><ul><div class="addthis_inline_share_toolbox"></div></ul></div></div></div><div class="pswp" tabindex="-1" role="dialog" aria-hidden="true"><div class="pswp__bg"></div><div class="pswp__scroll-wrap"><div class="pswp__container"><div class="pswp__item"></div><div class="pswp__item"></div><div class="pswp__item"></div></div><div class="pswp__ui pswp__ui--fit pswp__ui--hidden"><div class="pswp__top-bar"><div class="pswp__counter" data-role="none"></div><button class="pswp__button pswp__button--close" title="Close (Esc)" data-role="none"></button> <button class="pswp__button pswp__button--image" title="Include Image" data-role="none"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen" data-role="none"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out" data-role="none"></button><div class="pswp__preloader"><div class="pswp__preloader__icn"><div class="pswp__preloader__cut"><div class="pswp__preloader__donut"></div></div></div></div></div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)" data-role="none"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)" data-role="none"></button><div class="pswp__caption"><div class="pswp__caption__center">Image caption 1</div></div></div></div></div>{% if voted == false %}<div id="signup" class="signup"><div class="container"><div class="row"><i>Vui lòng cho biết dự định của bạn !</i></div><div class="row"><button class="btn btn-success" id="btn_going" onclick="updateStatus(1)">Sẽ đến</button> &nbsp; <button class="btn btn-warning" id="btn_notsure" onclick="updateStatus(2)">Cân nhắc</button> &nbsp; <button class="btn btn-danger" id="btn_notgoing" onclick="updateStatus(3)">Không đến</button></div><a href="#" class="close"><i class="fa fa-times text-white"></i></a></div></div>{% endif %}<script src="{{ asset('js/libraries.min.js') }}"></script><script async>function initMap() {
        var lat = $('#coordinates').data('lat');
        var lon = $('#coordinates').data('lon');
        var title = $('#coordinates').data('title');

        var homeLat = $('#coordinates').data('home-lat');
        var homeLon = $('#coordinates').data('home-lon');
        var homeTitle = $('#coordinates').data('home-title');

        var location = {lat: lat, lng: lon};
        var homeLocation = {lat: homeLat, lng: homeLon};

        var map = new google.maps.Map(document.getElementById('party_pmap_canvas'), {
            zoom: 16,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        var info = new google.maps.InfoWindow({
            content: '<h4>' + title + '</h4>'
        });
        info.open(map, marker);

        var homeMap = new google.maps.Map(document.getElementById('wedding_pmap_canvas'), {
            zoom: 16,
            center: homeLocation
        });
        var homeMarker = new google.maps.Marker({
            position: homeLocation,
            map: homeMap
        });

        var homeInfo = new google.maps.InfoWindow({
            content: '<h4>' + homeTitle + '</h4>'
        });
        homeInfo.open(homeMap, homeMarker);
    }

    function getPath() {
        var addr = $('#getPath input[name=saddr]').val();
        if (addr.length < 3) {
            $('#getPath input[name=saddr]').focus();
            alert('Nhập địa chỉ của bạn một cách chính xác!');
            return;
        }

        document.getElementById("getPath").submit();
    }

    function getHomePath() {
        var addr = $('#getHomePath input[name=saddr]').val();

        if (addr.length < 3) {
            $('#getHomePath input[name=saddr]').focus();
            alert('Nhập địa chỉ của bạn một cách chính xác!');
            return;
        }

        document.getElementById("getHomePath").submit();
    }

    $(function(){
        var bool_click_menu = false;

        try{
            var pos_greeting	= $('#sk_topinfo').position().top;
            var pos_gallery		= $('#sk_gallery').position().top;  var pos_media		= $('#sk_media').position().top;  var pos_snsbbs		= $('#sk_snsbbs').position().top;  var pos_map			= $('#sk_map').position().top;
            $(window).scroll(function(e) {
                var newScroll = $(document).scrollTop();
                if(!bool_click_menu){
                    if(newScroll > pos_greeting) setMenu('#m_topinfo');
                    if(newScroll > pos_gallery) setMenu('#m_gallery');  if(newScroll > pos_media) setMenu('#m_media');  if(newScroll > pos_snsbbs - 60) setMenu('#m_snsbbs');  if(newScroll > pos_map - 60) setMenu('#m_map'); 			}
            });
        }catch(e){}

        function setMenu(id){
            $('.menu_scrolls').removeClass('on');
            $(id).addClass('on');
        }

        $.fn.scrollStopped = function(callback) {
            $(this).scroll(function(){
                var self = this, $this = $(self);
                if ($this.data('scrollTimeout')) {
                    clearTimeout($this.data('scrollTimeout'));
                }
                $this.data('scrollTimeout', setTimeout(callback,250,self));
            });
        };


        $(window).scrollStopped(function(){
            bool_click_menu = false;
        });


        $('#div_snsbbs').masonry({
            //columnWidth: .snsbbs_sections,
            //isFitWidth : true,
            itemSelector: '.snsbbs_sections'
        }).on( 'layoutComplete', function() {
            return true;
        });

        var closest = function closest(el, fn) {
            return el && (fn(el) ? el : closest(el.parentNode, fn));
        };

        var photoswipeParseHash = function() {
            var hash = window.location.hash.substring(1),
                    params = {};

            if (hash.length < 5) {
                return params;
            }

            var vars = hash.split('&');
            for (var i = 0; i < vars.length; i++) {
                if (!vars[i]) {
                    continue;
                }
                var pair = vars[i].split('=');
                if (pair.length < 2) {
                    continue;
                }
                params[pair[0]] = pair[1];
            }

            if (params.gid) {
                params.gid = parseInt(params.gid, 10);
            }

            return params;
        };

        function getGallery($el) {
            var el = [];
            var aTag = Array.prototype.slice.call($el.find("a"));

            $.merge(el, aTag);

            return el;
        }

        function onThumbnailsClick(e) {
            e = e || window.event;
            e.preventDefault ? e.preventDefault() : e.returnValue = false;

            var eTarget = e.target || e.srcElement;
            var clickedListItem = closest(eTarget, function(el) {
                var tagName = el.tagName.toUpperCase();
                return (tagName && tagName === 'A');
            });

            if (!clickedListItem) {
                return;
            }

            if (clickedListItem.className.indexOf("swipebox") == -1) {
                return false;
            }

            var childNodes = el,
                    numChildNodes = el.length,
                    nodeIndex = 0,
                    index = 0;

            var no_image_count = 0;
            for (var i = 0; i < numChildNodes; i++) {
                if (el[i].className.indexOf("swipebox") == -1) {
                    no_image_count++;
                }

                if (el[i] == clickedListItem) {
                    index = i - no_image_count;

                    break;
                }
            }

            if (index >= 0) {
                openPhotoSwipe(index, el);
            }

            return false;
        }

        var gallery;

        function getPrefix(prop) {
            var style = document.body.style;
            var prefix = ['Webkit', 'ms', 'moz', 'o'];
            var prefix_len = prefix.length;

            if(style[prop] == '') {
                return prop;
            }

            prop = prop[0].toUpperCase() + prop.slice(1);

            for(var i = 0; i < prefix_len; i++) {
                if(style[prefix[i] + prop] == '') {
                    return prefix[i] + prop;
                }
            }
        }

        function getTranslate(transform) {
            var regex;

            if(transform.indexOf('translate3d') == -1) {
                regex = /translate\(([-0-9.]+)px, ([-0-9.]+)px\)/;
            } else {
                regex = /translate3d\(([-0-9.]+)px, ([-0-9.]+)px, ([-0-9.]+)px\)/;
            }

            var matched = transform.match(regex);
            var coordinate = {};

            coordinate.x = matched[1];
            coordinate.y = matched[2];

            if(matched[3]) {
                coordinate.z = matched[3];
            }

            return coordinate;
        }

        function getScale(transform) {
            var regex = /scale\(([0-9.]+)\)/;
            var matched = transform.match(regex);

            return matched[1];
        }

        function psBeforeInitAddEvent() {
            gallery.listen('gettingData', function(index, item) {
                var size = item.el.getAttribute("data-size").split("X");

                item.w = size[0];
                item.h = size[1];
            });

            gallery.listen('arrowUpdate', function() {
                var $nextBtn = $('.pswp__button--arrow--right');
                var $prevBtn = $('.pswp__button--arrow--left');
                var loop = this.options.loop;
                var index = this.getCurrentIndex();

                $nextBtn.toggle(loop || index < this.items.length - 1);
                $prevBtn.toggle(loop || index > 0);
            });

            gallery.listen('initialZoomIn', function() {

            });
        }

        function psAfterInitAddEvent() {
            gallery.listen('initialZoomOut', function() {
                var item = this.currItem;
                var container_style = item.container.style;
                var transform = getPrefix('transform');
                var transition = getPrefix('transition');

                if(!transform || !transition) {
                    return;
                }

                var container_transform = container_style[getPrefix('transform')];
                var scale = getScale(container_transform);
                var coordinate = getTranslate(container_transform);
                var initTransY = item.initialPosition.y;
                var currTransY = coordinate.y;
                var size = item.el.getAttribute("data-size").split("X");
                var transX = item.initialPosition.x;
                var transY;

                if(initTransY > currTransY) {
                    transY = -(size[1]);
                } else {
                    transY = window.screen.availHeight;
                }

                container_style[transition] = "transform " + gallery.options.hideAnimationDuration + "ms";

                if(!this.isGestureClose() && this.isVerticalDrag()){
                    container_style[getPrefix('transform')] = "translate3d(" + transX + "px, " + transY + "px, 0px) scale(" + scale + ")";
                }
            });

            gallery.listen('close', function() {
            });
        }

        var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
            var pswpElement = document.querySelector('.pswp'),
                    options, items, kakaoInApp;

            items = parseThumbnailElements(galleryElement);

            options = {
                useZoom: true,
                arrowKeys: false,
                hideAnimationDuration: 200,
                showAnimationDuration: 100,
                loop: false,
                imageEl: true,
                galleryUID: $my_gallery[0].getAttribute('data-pswp-uid'),
                showHideOpacity: true,
                getThumbBoundsFn: false,
                closeOnScroll: false,
                kakaoInApp: kakaoInApp,
            };

            if (fromURL) {
                if (options.galleryPIDs) {

                    for (var j = 0; j < items.length; j++) {
                        if (items[j].pid == index) {
                            options.index = j;
                            break;
                        }
                    }
                } else {
                    options.index = parseInt(index, 10);
                }
            } else {
                options.index = parseInt(index, 10);
            }

            if (isNaN(options.index)) {
                return;
            }

            if (disableAnimation) {
                options.showAnimationDuration = 0;
            }

            gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);

            gallery.useAniNum = false;

            psBeforeInitAddEvent();
            gallery.init();
            psAfterInitAddEvent();
        };

        var parseThumbnailElements = function(el) {
            var imageElements = el,
                    numNodes = imageElements.length,
                    items = [],
                    size,
                    item;
            var wrapper = document.createElement('div');
            var imageEl,
                    thumbEl;

            for (var i = 0; i < numNodes; i++) {
                imageEl = imageElements[i];

                if (imageEl.nodeType !== 1) {
                    continue;
                }

                var img_el = imageEl.getElementsByTagName("img");
                var exist_img = img_el.length > 0 ? true : false;
                var src = imageEl.href;
                var is_swipe_image = imageEl.className.indexOf("swipebox") > -1 ? true : false;
                var msrc;
                var $imageEl = $(imageEl);

                if(!is_swipe_image) {
                    continue;
                }

                if(!exist_img) {
                    thumbEl = imageEl.getElementsByTagName("div")[0];

                    if(thumbEl) {
                        msrc = thumbEl.style.backgroundImage.slice(4, -1).replace(/"/g, "");
                    } else {
                        var piece = src.split("/");
                        var pieceCount = piece.length;
                        var file = piece[pieceCount - 1]

                        piece[pieceCount - 1] = "S_" + file;

                        msrc = piece.join("/");
                    }
                } else {
                    if($imageEl.parent(".gal_more").length > 0 || $imageEl.children(".gal_more").length > 0) {
                        msrc = img_el[0].parentNode.href;
                    } else {
                        thumbEl = img_el[0];
                        msrc = thumbEl.src;
                    }
                }

                item = {
                    src: src,
                    msrc: msrc,
                    el: imageEl,
                };

                item.id = imageEl.getAttribute("imgId");
                items.push(item);
            }
            return items;
        };

        var $my_gallery = $("#sk_gallery");
        var my_gallery_count = $my_gallery.length;
        var el = getGallery($my_gallery);
        var $el = $(el);
        var hashData = photoswipeParseHash();

        $el.on("click", onThumbnailsClick);

        for (var i = 0; i < my_gallery_count; i++) {
            $my_gallery[i].setAttribute("data-pswp-uid", i + 1);
        }

        if (hashData.pid && hashData.gid) {
            openPhotoSwipe(hashData.pid - 1, el, true, true);
        }

        $(document).on("keydown keyup", function(e) {
            var hidden = $(".pswp").attr("aria-hidden") == "true";

            if(hidden) {
                return;
            }

            var keydownAction = '';
            var index = gallery.getCurrentIndex();
            var gallery_len = gallery.items.length;

            if(e.type == "keydown") {
                if(e.keyCode === 37 && index != 0) {
                    keydownAction = 'prev';
                } else if(e.keyCode === 39 && index != (gallery_len - 1)) {
                    keydownAction = 'next';
                }
            } else if(e.type == "keyup") {
                if(e.keyCode === 37 && index == 0) {
                    keydownAction = 'prev';
                } else if(e.keyCode === 39 && index == (gallery_len - 1)) {
                    keydownAction = 'next';
                }
            }

            if(keydownAction) {
                if( !e.ctrlKey && !e.altKey && !e.shiftKey && !e.metaKey ) {
                    if(e.preventDefault) {
                        e.preventDefault();
                    } else {
                        e.returnValue = false;
                    }

                    gallery[keydownAction]();
                }
            }
        });

        $('#div_snsbbs').masonry('bindResize');

        function setPosition(id){
            var $obj = $('#sk_'+id);
            // console.log(id);

            $('body').scrollTo($obj, 500);
        }

        $('.menu_scrolls').click(function(){
            try {
                if($(this).attr('id')){
                    var id = $(this).attr('id').replace('p_','').replace('m_','');
                    setPosition(id);
                } else {
                    window.location.href = '/';
                }
            } catch(e) {
                console.log(e);
            }
        }).css('cursor','pointer');

        $('#tabs_wedding').click(function() {
            $('#tabs_wedding').addClass('on');
            $('#tabs_party').removeClass('on');
            $('#div_wedding').css('display', 'block');
            $('#div_party').css('display', 'none');
        }).css('cursor', 'pointer');

        $('#tabs_party').click(function() {
            $('#tabs_party').addClass('on');
            $('#tabs_wedding').removeClass('on');
            $('#div_wedding').css('display', 'none');
            $('#div_party').css('display', 'block');
        }).css('cursor', 'pointer');
    });

    (function($) {
        $.fn.onScrollTo = function(focusInFn, focusOutFn) {
            var $this = this;
            $(document).scroll(function() {
                var y = $(this).scrollTop();
                if (y >= $this.position().top) {
                    if (focusInFn) focusInFn();
                } else {
                    if (focusOutFn) focusOutFn();
                }
            });
        }
    })(jQuery);

    $( window ).load(function() {
        $('.gal_list2').masonry({
            itemSelector: '.gal_frame',
            columnWidth: '.gal_size',
            transitionDuration: '0.2s',
            percentPosition: true
        });

        $('#div_gallery').masonry({itemSelector: '.gallery_sections'});

        {% if isTemplate == false %}
            $('.movie_wrap').onScrollTo(function() {
                $('#signup').addClass('show');
            }, function() {
                $('#signup').removeClass('show');
            });

            $('#signup').on('click', '.close', function(e) {
                e.preventDefault();
                $('#signup').removeClass('show');
            });
        {% endif %}
    });</script><script>WebFontConfig={google:{families:["Lora:400,700i&amp;subset=vietnamese"]}},function(e){var t=e.createElement("script"),o=e.scripts[0];t.src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js",t.async=!0,o.parentNode.insertBefore(t,o)}(document)</script><script async defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFP7Gn3MRg3XxdnxZ33dKlgHQa7SanZE&callback=initMap"></script><script async type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52672eec5ea620cd"></script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-109753132-1"></script><script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-109753132-1")</script></body></html>