

<!DOCTYPE html>
<html lang="vi">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://thiepdo.com/gold-star"/>
    <meta property="og:description" content="{{ description }}"/>

    <meta property="og:title" content="{{ name }}" />
    <meta property="og:image" content="/bundles/viettutweb/img/templates/goldstar/9b854c77bd8bd11be8cfd28c7240e73e.jpg" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="robots" content="noindex" />

    <link href="/bundles/viettutweb/img/thiepdo_120x120.png" sizes="120x120" rel="apple-touch-icon">
    <link rel="icon" sizes="144x144" href="/bundles/viettutweb/img/thiepdo_144x144.png">
    <link rel="icon" sizes="64x64" href="/bundles/viettutweb/img/thiepdo_64x64.png">

    <title>{{ name }}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/libraries.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/goldstar/app.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="coordinates" data-lon="{{ lon }}" data-lat="{{ lat }}" data-title="{{ data['place'] }}"
     data-home-lon="{{ homeLon }}" data-home-lat="{{ homeLat }}" data-home-title="{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}"></div>
<div id="card_id" data-id="{{ id }}"></div>
<div data-role="page" id="skin_page">
    <!-- panel-groom -->
    <div data-role="panel" id="panel_groom" class="leftpanel" data-position="left" data-display="push" data-position-fixed="true" data-swipe-close="true" data-theme="b" style="background:#f3ebd3 url('/bundles/viettutweb/img/templates/goldstar/bg_groom.jpg') center top no-repeat; background-size:100%; z-index:9999;">
        <div class="groom-wrap">
            <ul>
                <a href="tel:{{ data['groom_phone'] }}"><li class="ico5">Gọi điện</li></a>
                <a href="sms:{{ data['groom_phone'] }}"><li class="ico6">Nhắn tin</li></a>
                {% if 'groom_facebook' in data|keys %}
                    <a href="{{ data['groom_facebook'] }}" target="_blank" title="Facebook">
                        <li class="ico7">Facebook</li>
                    </a>
                {% else %}
                    <a href="http://facebook.com/thiepdodigital" target="_blank" title="Facebook">
                        <li class="ico7">Facebook</li>
                    </a>
                {% endif %}
                {% if 'groom_instagram' in data|keys %}
                    <a href="{{ data['groom_instagram'] }}" target="_blank" title="Instagram">
                        <li class="ico_insta">Instagram</li>
                    </a>
                {% else %}
                    <a href="http://instagram.com/thiepdodigital" target="_blank" title="Instagram">
                        <li class="ico_insta">Instagram</li>
                    </a>
                {% endif %}
            </ul>
            <p class="btn_go_snsbbs">Lưu bút</p>
        </div>
    </div>
    <!--// panel-groom -->
    <!-- panel-bride -->
    <div data-role="panel" id="panel_bride" class="righttpanel" data-position="right" data-display="push" data-position-fixed="true" data-swipe-close="true" data-theme="a" style="background:#f3ebd3 url('/bundles/viettutweb/img/templates/goldstar/bg_bride.jpg') center top no-repeat; background-size:100% auto; z-index:9999;">
        <div class="bride-wrap">
            <ul>
                <a href="tel:{{ data['bride_phone'] }}"><li class="ico1">Gọi điện</li></a>
                <a href="sms:{{ data['bride_phone'] }}"><li class="ico2">Nhắn tin</li></a>
                {% if 'bride_facebook' in data|keys %}
                    <a href="{{ data['bride_facebook'] }}" target="_blank" title="Facebook">
                        <li class="ico3">Facebook</li>
                    </a>
                {% else %}
                    <a href="http://facebook.com/thiepdodigital" target="_blank" title="Facebook">
                        <li class="ico3">Facebook</li>
                    </a>
                {% endif %}
                {% if 'bride_instagram' in data|keys %}
                    <a href="http://instagram.com/{{ data['bride_instagram'] }}" target="_blank" title="Instagram">
                        <li class="ico_insta">Instagram</li>
                    </a>
                {% else %}
                    <a href="http://instagram.com/thiepdodigital" target="_blank" title="Instagram">
                        <li class="ico_insta">Instagram</li>
                    </a>
                {% endif %}
            </ul>
            <p class="btn_go_snsbbs">Lưu bút</p>
        </div>
    </div>
    <!--// panel-bride -->
    <!-- panel-menu -->
    <div data-role="panel" id="right-panel" data-position="right" data-display="push" style="z-index:9999;">
        <div class="menu-wrap ui-panel-inner">
            <ul data-role="listview" data-icon="false">
                <li class="menu_scrolls" data-rel="close"><span>TRANG CHỦ</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_topinfo"><span>LỜI TỰA</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_gallery"><span>ALBUM ẢNH</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_media"><span>VIDEO</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_snsbbs"><span>LƯU BÚT</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_map"><span>ĐỊA ĐIỂM</span></li>
            </ul>
        </div>
    </div>
    <!--// panel-menu -->

    <div class="lnb slideDown">
        <div class="lnb_title">JUST MARRIED!</div>
        <ul>
            <li class="menu1 menu_scrolls"><span>TRANG CHỦ</span></li>
            <li class="menu1 menu_scrolls on" id="m_topinfo"><span>LỜI TỰA</span></li>
            <li class="menu2 menu_scrolls" id="m_gallery"><span>ALBUM ẢNH</span></li>
            <li class="menu3 menu_scrolls" id="m_media"><span>VIDEO</span></li>
            <li class="menu4 menu_scrolls" id="m_snsbbs"><span>LƯU BÚT</span></li>
            <li class="menu5 menu_scrolls" id="m_map"><span>ĐỊA ĐIỂM</span></li>
        </ul>
    </div>
    <div class="lnb_mobile"><a href="#right-panel"><img src="/bundles/viettutweb/img/templates/goldstar/lnb_mobile.png" alt=""></a></div>

    <!-- header -->
    <div id="sk_topinfo" class="header">
        <div class="header_bg" style="background:url('/bundles/viettutweb/img/templates/goldstar/9b854c77bd8bd11be8cfd28c7240e73e.jpg') CENTER CENTER no-repeat; background-size:cover;"></div>
        <div class="header_content">
            <div class="header_photo">
                <p style="background:url('/bundles/viettutweb/img/templates/goldstar/9b854c77bd8bd11be8cfd28c7240e73e.jpg') CENTER CENTER no-repeat; background-size:cover;"></p>
            </div>
            <div class="header_title">
                <p class="hd_name">
                    {% if forGroom %}
                        {{ data['groom_name'] }}<span>và</span>{{ data['bride_name'] }}
                    {% else %}
                        {{ data['bride_name'] }}<span>và</span>{{ data['groom_name'] }}
                    {% endif %}
                </p>

                <p class="hd_date">{{ date | long_date }}, hồi {{ date | date('H:i') }}</p>
                <p class="hd_loca">(tức {{ dateAl }})</p>
                <p class="hd_loca">{{ data['place'] }}</p>
            </div>
            <div class="header_panel">
                {% if forGroom %}
                    <p class="groom slideLeft"><a href="#panel_groom">CHÚ RỂ</a></p>
                    <p class="bride slideRight"><a href="#panel_bride">CÔ DÂU</a></p>
                {% else %}
                    <p class="bride slideRight"><a href="#panel_groom">CHÚ RỂ</a></p>
                    <p class="groom slideLeft"><a href="#panel_bride">CÔ DÂU</a></p>
                {% endif %}
            </div>
        </div>
        <div class="scroll slideUp"><span>Trượt xuống</span></div>
    </div>
    <!--// header -->

    <!-- greeting -->
    <div class="greeting_wrap">
        <div class="greeting_textbox">
            <h2 class="title"><img src="/bundles/viettutweb/img/templates/goldstar/greeting_title.png" alt="WEDDING INVITATION"></h2>
            <p>{{ data['greeting'] }}</p>
            {% if forGroom %}
                <table class="greeting_name">
                    <thead>
                    <tr>
                        <th>Nhà Trai</th>
                        <th>Nhà Gái</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="gn2">{{ data['groom_fa_name'] }}</td>
                        <td class="gn1">{{ data['bride_fa_name'] }}</td>
                    </tr>
                    <tr>
                        <td class="gn2">{{ data['groom_mo_name'] }}</td>
                        <td class="gn1">{{ data['bride_mo_name'] }}</td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <table class="greeting_name">
                    <thead>
                    <tr>
                        <th>Nhà Gái</th>
                        <th>Nhà Trai</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="gn2">{{ data['bride_fa_name'] }}</td>
                        <td class="gn1">{{ data['groom_fa_name'] }}</td>
                    </tr>
                    <tr>
                        <td class="gn2">{{ data['bride_mo_name'] }}</td>
                        <td class="gn1">{{ data['groom_mo_name'] }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <!--// greeting -->


    <!-- gallery -->
    <div class="gallery_wrap ui-cont-b" id="sk_gallery">
        <h2 class="title title_pink"><span>ALBUM ẢNH</span></h2>
        <div class="ul-body">
            <div class="gal_list2">
                <div class="gal_size"></div>
                {% for img in gallery %}
                    <a href="{{ img['src'] }}" class="swipebox" data-ajax="false" data-size="{{ img['size'] }}" imgId="{{ loop.index }}">
                        {% if (gallery|length == loop.index) or (loop.index >= 10)  %}
                            <div class="gal_more"><span>more</span></div>
                        {% else %}
                            <div class="gal_frame"><img src="{{ img['src'] }}"></div>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--// gallery -->

    {% if isTemplate %}
        <!-- movie -->
        <div class="movie_wrap ui-cont-b">
            <h2 class="title hidden">VIDEO</h2>
            <div class="ul-body">
                <div class="movie_container movie1">
                    <ul>
                        <li class="iframe-container">
                            <iframe
                                    id="movie"
                                    width="100%"
                                    src="http://www.youtube.com/embed/Q9aUb6FJdhk?showinfo=0&autohide=1&rel=0&vq=hd1080"
                                    height="100%"
                                    frameborder="0"
                                    allowfullscreen>
                            </iframe>
                        </li>
                    </ul>
                </div>

                <div class="lovestory">
                    <p class="lovestory_img"><img src="/bundles/viettutweb/img/templates/goldstar/movie_text3.png" alt="Love Story"></p>
                    <p class="lovestory_txt">Now at last they were beginning Chapter One<br>
                        of the Great Story no one on earth has ever read.<br>
                        which goes on forever :<br>
                        in which every chapter is better than the one before.</p>
                </div>
            </div>
        </div>
        <!--// movie -->
    {% else %}
        {% if embed | length > 0 %}
            <!-- movie -->
            <div class="movie_wrap ui-cont-b">
                <h2 class="title hidden">VIDEO</h2>
                <div class="ul-body">
                    <div class="movie_container movie1">
                        <ul>
                            <li class="iframe-container">
                                {{ embed | raw }}
                            </li>
                        </ul>
                    </div>

                    <div class="lovestory">
                        <p class="lovestory_img"><img src="/bundles/viettutweb/img/templates/goldstar/movie_text3.png" alt="Love Story"></p>
                        <p class="lovestory_txt">Now at last they were beginning Chapter One<br>
                            of the Great Story no one on earth has ever read.<br>
                            which goes on forever :<br>
                            in which every chapter is better than the one before.</p>
                    </div>
                </div>
            </div>
            <!--// movie -->
        {% endif %}
    {% endif %}


    <!-- guestbook -->
    <div class="guestbook_wrap ui-cont-b" id="sk_snsbbs">
        <h2 class="title title_pink"><span>LƯU BÚT</span></h2>

        <div class="ul-body col-3">
            <div class="gb_msg">Hãy chúc mừng cho ngày vui của cô dâu chú rể !</div>
            <div id="div_snsbbs">
                {% if isTemplate %}
                <div class="snsbbs_sections">
                    <div class="ui-body-d">
                        <div class="gb_cont_box btn_go_snsbbs">
                            <div class="pro_info">
                                <div class="pro_img">
                                    <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                </div>
                                <div class="pro_txt">
                                    <p><strong>Sunny</strong></p>
                                    <p class="date">2016-11-04 09:03</p>
                                </div>
                            </div>
                            <ul class="gb_cont btn_go_snsbbs">
                                <li class="comm_txt">
                                    <p>
                                        I sincerely congratulate the marriage of the two! I really married when I saw two people and I married like this !!!! Really Too Much Too Much Too Pretty Couple Happily Long To Live Ham Frying ~~~
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="snsbbs_sections ">
                    <div class="ui-body-d">
                        <div class="gb_cont_box btn_go_snsbbs">
                            <div class="pro_info">
                                <div class="pro_img">
                                    <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                </div>
                                <div class="pro_txt">
                                    <p><strong>Windy</strong></p>
                                    <p class="date">2016-10-05 15:36</p>
                                </div>
                            </div>
                            <ul class="gb_cont btn_go_snsbbs">
                                <li class="comm_txt">
                                    <p>Chúc mừng đôi trẻ !</p>
                                    <div class="emo-type-a emo08"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="snsbbs_sections ">
                    <div class="ui-body-d">
                        <div class="gb_cont_box btn_go_snsbbs">
                            <div class="pro_info">
                                <div class="pro_img">
                                    <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    {#<div class="pro-sns instagram"><span></span></div>#}
                                </div>
                                <div class="pro_txt">
                                    <p><strong>Song Song</strong></p>
                                    <p class="date">2016-07-19 18:12</p>
                                </div>
                            </div>
                            <ul class="gb_cont btn_go_snsbbs">
                                <li class="comm_txt">
                                    <p>Xin chúc mừng về hôn nhân !! </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="snsbbs_sections ">
                    <div class="ui-body-d">
                        <div class="gb_cont_box btn_go_snsbbs">
                            <div class="pro_info">
                                <div class="pro_img">
                                    <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                </div>
                                <div class="pro_txt">
                                    <p><strong>Hoàng Hôn</strong></p>
                                    <p class="date">2015-08-07 13:33</p>
                                </div>
                            </div>
                            <ul class="gb_cont btn_go_snsbbs">
                                <li class="comm_txt">
                                    <p>Tôi ngưỡng mộ hai bạn</p>
                                    <div class="emo-type-a emo02"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="snsbbs_sections">
                    <div class="ui-body-d">
                        <div class="gb_cont_box btn_go_snsbbs">
                            <div class="pro_info">
                                <div class="pro_img">
                                    <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                </div>
                                <div class="pro_txt">
                                    <p><strong>Hương Quỳnh</strong></p>
                                    <p class="date">2015-06-23 17:08</p>
                                </div>
                            </div>
                            <ul class="gb_cont btn_go_snsbbs">
                                <li class="comm_txt">
                                    <p>Tuyệt vời quá đẹp</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="snsbbs_sections">
                    <div class="ui-body-d">
                        <div class="gb_cont_box btn_go_snsbbs">
                            <div class="pro_info">
                                <div class="pro_img">
                                    <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                </div>
                                <div class="pro_txt">
                                    <p><strong>이남수</strong></p>
                                    <p class="date">2015-04-15 11:36</p>
                                </div>
                            </div>
                            <ul class="gb_cont btn_go_snsbbs">
                                <li class="comm_txt">
                                    <p>Tôi thực sự chúc mừng bạn</p>
                                    <div class="emo-type-a emo08"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="snsbbs_sections">
                    <div class="ui-body-d">
                        <div class="gb_cont_box btn_go_snsbbs">
                            <div class="pro_info">
                                <div class="pro_img">
                                    <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                </div>
                                <div class="pro_txt">
                                    <p><strong>Mạnh Hùng</strong></p>
                                    <p class="date">2015-03-05 17:03</p>
                                </div>
                            </div>
                            <ul class="gb_cont btn_go_snsbbs">
                                <li class="comm_txt">
                                    <p>Đây là thứ đẹp nhất mà tôi từng thấy !</p>
                                    <div class="emo-type-b emo04"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="snsbbs_sections">
                    <div class="ui-body-d">
                        <div class="gb_cont_box btn_go_snsbbs">
                            <div class="pro_info">
                                <div class="pro_img">
                                    <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                </div>
                                <div class="pro_txt">
                                    <p><strong>Sương Đêm</strong></p>
                                    <p class="date">2015-03-05 17:03</p>
                                </div>
                            </div>
                            <ul class="gb_cont btn_go_snsbbs">
                                <li class="comm_txt">
                                    <p>Sống thật hạnh phúc nhé bạn của tôi</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% else %}
                    {% for comment in comments %}
                        <div class="snsbbs_sections">
                            <div class="ui-body-d">
                                <div class="gb_cont_box btn_go_snsbbs">
                                    <div class="pro_info">
                                        <div class="pro_img">
                                            <img src="{{ comment.author.avatar }}" alt="profile picture" />
                                        </div>
                                        <div class="pro_txt">
                                            <p><strong>{{ comment.author.name }}</strong></p>
                                            <p class="date">{{ comment.createdAt | date('d-m-Y H:i') }}</p>
                                        </div>
                                    </div>
                                    <ul class="gb_cont btn_go_snsbbs">
                                        <li class="comm_txt">
                                            <p>{{ comment.content }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if isTemplate %}
            <div class="gb_btn btn_go_snsbbs"><span>Chúc mừng</span></div>
        {% else %}
            <a href="{{ path('guest_book_page', {hash: hash}) }}"><div class="gb_btn btn_go_snsbbs"><span>Chúc mừng</span></div></a>
        {% endif %}
    </div>
    <!--// guestbook -->

    <!-- location -->
    <div class="location_wrap ui-cont-b" id="sk_map">
        <h2 class="title title_gold"><span>ĐỊA ĐIỂM</span></h2>
        <div class="ul-body">
            <div class="col-2">
                <div class="ui-block-a">
                    <ul class="lo_tab_wrap">
                        <li class="tab_btn wh locationtabs on" id="tabs_wedding" style="cursor: pointer;">Lễ Thành Hôn</li>
                        <li class="tab_btn rh locationtabs" id="tabs_party" style="cursor: pointer;">Tiệc cưới</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ul-body locationdivs" id="div_wedding">
            <div class="lo_box col-2">
                <div class="ui-block-a">
                    <h3 class="lo_title">{{ data['home'] }}</h3>
                    <div class="lo_map">
                        <div id="wedding_pmap_canvas"  class="not_view_panel" style="width:100%;height:500px;"></div>
                    </div>
                    <div class="nav-wrap">
                        <div class="ui-grid-a nav-m">
                            <form action='http://maps.google.com/maps' method='get' target='_blank' id="getHomePath">
                                <input type='text' name='saddr' placeholder="địa chỉ của bạn"  style="height: 25px;width:300px;"/>
                                <input type='hidden' name='daddr' value='{{ data['home'] }}' />
                            </form>
                            <div class="nav-1">
                                <div class="ui-body-d ui-btn-nav wedding_kimnavi">
                                    <span class="ui-btn ui-icon-nav1 ui-btn-icon-left ui-btn-b ui-corner-all ui-shadow ui-custom-btn fc-fff" onclick="getHomePath()">CHỈ ĐƯỜNG</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav_info">※ Gõ chính xác địa chỉ của bạn vào ô ở trên.</div>
                </div>
                <div class="ui-block-b">

                    <table class="lo_container">
                        <tr>
                            <th class="lo_date">Thời gian</th>
                            <td>{{ weddingDate | long_date }}, hồi {{ weddingDate | date('H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="lo_loca">{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}</th>
                            <td>{{ data['home'] }}</td>
                        </tr>
                        <tr>
                            <th class="lo_tel">Hướng dẫn</th>
                            <td>{{ data['home_info'] }}</td>
                        </tr>
                        <tr>
                            <th class="lo_tel">Liên hệ</th>
                            <td>{{ data['home_contact'] }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="ul-body locationdivs" id="div_party" style="display:none;">
            <div class="lo_box col-2">
                <div class="ui-block-a">
                    <h3 class="lo_title">{{ data['place'] }}</h3>
                    <div class="lo_map">
                        <div id="party_pmap_canvas"  class="not_view_panel" style="width:100%;height:500px;"></div>
                    </div>
                    <div class="nav-wrap">
                        <div class="ui-grid-a nav-m">
                            <form action='http://maps.google.com/maps' method='get' target='_blank' id="getPath">
                                <input type='text' name='saddr' placeholder="địa chỉ của bạn"  style="height: 25px;width:300px;"/>
                                <input type='hidden' name='daddr' value='{{ data['place_addr'] }}' />
                            </form>
                            <div class="nav-1">
                                <div class="ui-body-d ui-btn-nav wedding_kimnavi">
                                    <span class="ui-btn ui-icon-nav1 ui-btn-icon-left ui-btn-b ui-corner-all ui-shadow ui-custom-btn fc-fff">CHỈ ĐƯỜNG</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav_info">※ Gõ chính xác địa chỉ của bạn vào ô ở trên.</div>
                </div>
                <div class="ui-block-b">

                    <table class="lo_container">
                        <tr>
                            <th class="lo_date">Thời gian</th>
                            <td>{{ date | long_date }}, hồi {{ date | date('H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="lo_loca">Tiệc cưới</th>
                            <td>{{ data['place_addr'] }}</td>
                        </tr>
                        <tr>
                            <th class="lo_info">Hướng dẫn</th>
                            <td>{{ data['place_info'] }}</td>
                        </tr>
                        <tr>
                            <th class="lo_tel">Liên hệ</th>
                            <td>{{ data['place_phone'] }}</td>
                        </tr>
                        <tr>
                            <th class="lo_bus">Xe Khách</th>
                            <td>{{ data['bus_info'] }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer"  id="sk_snslink">
        <div class="contents">
            <h4>
                <a href="{{ path('home_page') }}" target="_blank">
                    <img src="/bundles/viettutweb/img/templates/gardenwedding/lowercase-t-64-269636.png" alt="logo" title="thiepdo.com"/>
                </a>
                <span></span>
            </h4>
            <ul>
                <div class="addthis_inline_share_toolbox"></div>
            </ul>
        </div>
        <div style="position:relative;top:0px;left:0px;width:0px;height:0px;z-index:-999;">
            <iframe id="ifmChkApp" width="0" height="0" border="0" style="border:0px;"></iframe>
        </div>
    </div>
    <!--// footer -->
</div><!--//skin_page-->


<!-- photoswipe -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--fit pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter" data-role="none" ></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)" data-role="none" ></button>
                <button class="pswp__button pswp__button--image" title="Include Image" data-role="none" ></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen" data-role="none" ></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out" data-role="none" ></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)" data-role="none"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)" data-role="none"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center">Image caption 1</div>
            </div>
        </div>
    </div>
</div>
{% if voted == false %}
<div id="signup" class="signup">
    <div class="container">
        <div class="row">
            <i>Vui lòng cho biết dự định của bạn !</i>
        </div>
        <div class="row">
            <button class="btn btn-success" id="btn_going" onclick="updateStatus(1)">Sẽ đến</button> &nbsp;
            <button class="btn btn-warning" id="btn_notsure" onclick="updateStatus(2)">Cân nhắc</button> &nbsp;
            <button class="btn btn-danger" id="btn_notgoing" onclick="updateStatus(3)">Không đến</button>
        </div>
        <a href="#" class="close"><i class="fa fa-times text-white"></i></a>
    </div>
</div>
{% endif %}
<script src="{{ asset('js/libraries.min.js') }}"></script>
<script src="{{ asset('js/goldstar/index.js') }}"></script>

{% if isTemplate == false %}
    <script type="text/javascript">
        (function($) {
            $.fn.onScrollTo = function(focusInFn, focusOutFn) {
                var $this = this;
                $(document).scroll(function() {
                    var y = $(this).scrollTop();
                    if (y >= $this.position().top) {
                        if (focusInFn) focusInFn();
                    } else {
                        if (focusOutFn) focusOutFn();
                    }
                });
            }
        })(jQuery);
    </script>
{% endif %}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFP7Gn3MRg3XxdnxZ33dKlgHQa7SanZE&callback=initMap">
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52672eec5ea620cd"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109753132-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109753132-1');
</script>
</body>
</html>