<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="thiệp mời; thiệp mừng; thiệp cưới; thiệp điện tử; in thiệp cưới; ảnh cưới; đám cưới; trăng mật; du lịch;" />
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Giang Coffee">

    <link href="/bundles/viettutweb/img/thiepdo_120x120.png" sizes="120x120" rel="apple-touch-icon">
    <link rel="icon" sizes="144x144" href="/bundles/viettutweb/img/thiepdo_144x144.png">
    <link rel="icon" sizes="64x64" href="/bundles/viettutweb/img/thiepdo_64x64.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/vendor/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/vendor/fontawesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/vendor/owlcarousel/owl.carousel.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/vendor/owlcarousel/owl.theme.default.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/vendor/magnific-popup/magnific-popup.css') }}" media="screen">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/theme-elements.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/theme-blog.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/theme-shop.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/theme-animate.css') }}">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/vendor/rs-plugin/css/settings.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/vendor/circle-flip-slideshow/css/component.css') }}" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/skins/default.css') }}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/custom.css') }}">

    {% block css %}
    {% endblock %}
    <!-- Head Libs -->
    <script src="{{ asset('bundles/viettutweb/vendor/modernizr/modernizr.js') }}"></script>

    <!--[if IE]>
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/ie.css') }}">
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="{{ asset('bundles/viettutweb/vendor/respond/respond.js') }}"></script>
    <script src="{{ asset('bundles/viettutweb/vendor/excanvas/excanvas.js') }}"></script>
    <![endif]-->

</head>
<body>
{% block facebook %}{% endblock %}
<div class="body">
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="{{ path('home_page') }}">
                    <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="{{ asset('bundles/viettutweb/img/logo1_default.png') }}">
                </a>
            </div>
            <div class="search">
                <form id="searchForm">
                    <div class="input-group">
                        <input type="text" class="form-control search" name="q" id="q" placeholder="Tìm kiếm..." required>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <nav>
                <ul class="nav nav-pills nav-top">
                    <li>
                        <a href="{{ path('contact_page') }}"><i class="fa fa-angle-right"></i>Góp Ý</a>
                    </li>
                    <li class="phone">
                        <span><i class="fa fa-phone"></i>0961614387</span>
                    </li>
                </ul>
            </nav>
            <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="container">
                <ul class="social-icons">
                    <li class="facebook"><a href="http://www.facebook.com/thiepdodigital" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                    <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                </ul>
                <nav class="nav-main mega-menu">
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li class="{{ (app.request.attributes.get('_route') == 'templates_page') ? ' active' }}">
                            <a class="dropdown-toggle" href="{{ path('templates_page') }}">
                                Mẫu Thiệp
                            </a>
                        </li>

                        <li {{ (app.request.attributes.get('_route') == 'cards_page') ? ' class="active"' }}>
                            <a class="dropdown-toggle" href="{{ path('cards_page') }}">
                                Sản phẩm
                            </a>
                        </li>

                        <li {{ (app.request.attributes.get('_route') == 'services_page') ? ' class="active"' }}>
                            <a class="dropdown-toggle" href="{{ path('services_page') }}">
                                Dịch vụ
                            </a>
                        </li>

                        <li {{ (app.request.attributes.get('_route') == 'faq_page') ? ' class="active"' }}>
                            <a class="dropdown-toggle" href="{{ path('faq_page') }}">
                                Hỏi đáp
                            </a>
                        </li>

                        <li {{ (app.request.attributes.get('_route') == 'contact_page') ? ' class="active"' }}>
                            <a class="dropdown-toggle" href="{{ path('contact_page') }}">
                                Liên Hệ
                            </a>
                        </li>
                        {% if app.user %}
                            <li class="dropdown mega-menu-item mega-menu-signin signin logged" id="headerAccount">
                                <a class="dropdown-toggle" href="#">
                                    <i class="fa fa-user"></i> {{ app.user.username }}
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="mega-menu-content">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="user-avatar">
                                                        <div class="img-thumbnail">
                                                            <img alt="avatar" src="{{ app.user.avatar }}">
                                                        </div>
                                                        <p>
                                                            <strong>{{ app.user.username }}</strong>
                                                            <span>{{ app.user.professional }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul class="list-account-options">
                                                        <li>
                                                            <a href="#">Profile</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-toggle" href="{{ path('my_card_page') }}">
                                                                Thiệp của tôi
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('fos_user_security_logout') }}">Thoát</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a class="dropdown-toggle" href="{{ path('fos_user_security_login') }}">
                                    <i class="fa fa-user"></i> Đăng Nhập
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div role="main" class="main">
        {% block main %}
        {% endblock %}
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-ribbon">
                    <span>Liên hệ</span>
                </div>
                <div class="col-md-3">
                    <div class="newsletter">
                        <h4>Nhận tin mới</h4>
                        <p>Đăng ký để nhận những mẫu thiệp mới nhất qua email</p>
                        <form name="subscribeForm" id="subscribeForm">
                            <div class="input-group">
                                <input class="form-control" placeholder="email" type="email" name="email" required>
                                <span class="input-group-btn">
                                    <button id="subscribeButton" class="btn btn-default" onclick="subscribe()" type="button">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Blog mới nhất</h4>
                    <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "", "count": 2}'>
                        <p>Đang load ...</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-details">
                        <h4>Góp ý</h4>
                        <ul class="contact">
                            {#<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</p></li>#}
                            <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> 0961614387</p></li>
                            <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:support@thiepdo.com">support@thiepdo.com</a></p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <ul class="social-icons">
                            <li class="facebook"><a href="http://www.facebook.com/thiepdodigital" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a></li>
                            <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a></li>
                            <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="{{ path('home_page') }}" class="logo">
                            <img alt="Porto Website Template" class="img-responsive" src="{{ asset('bundles/viettutweb/img/logo1_gray.png') }}">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <p>© Copyright 2017. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-4">
                        <nav id="sub-menu">
                            <ul>
                                <li><a href="{{ path('faq_page') }}">Hỏi đáp</a></li>
                                <li><a href="sitemap.html">Sitemap</a></li>
                                <li><a href="{{ path('contact_page') }}">Góp ý</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Vendor -->
<script src="{{ asset('bundles/viettutweb/vendor/jquery/jquery.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/vendor/jquery.appear/jquery.appear.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/vendor/jquery.easing/jquery.easing.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/vendor/jquery-cookie/jquery-cookie.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/vendor/bootstrap/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/vendor/common/common.js') }}"></script>
{#<script src="{{ asset('bundles/viettutweb/vendor/jquery.validation/jquery.validation.js') }}"></script>#}
<script src="{{ asset('bundles/viettutweb/vendor/jquery.stellar/jquery.stellar.js') }}"></script>
{#<script src="{{ asset('bundles/viettutweb/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js') }}"></script>#}
{#<script src="{{ asset('bundles/viettutweb/vendor/jquery.gmap/jquery.gmap.js') }}"></script>#}
<script src="{{ asset('bundles/viettutweb/vendor/isotope/jquery.isotope.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/vendor/owlcarousel/owl.carousel.js') }}"></script>
{#<script src="{{ asset('bundles/viettutweb/vendor/jflickrfeed/jflickrfeed.js') }}"></script>#}
{#<script src="{{ asset('bundles/viettutweb/vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>#}
{#<script src="{{ asset('bundles/viettutweb/vendor/vide/vide.js') }}"></script>#}/app

<!-- Theme Base, Components and Settings -->
<script src="{{ asset('bundles/viettutweb/js/theme.js') }}"></script>

<!-- Specific Page Vendor and Views -->
<script src="{{ asset('bundles/viettutweb/vendor/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/vendor/circle-flip-slideshow/js/jquery.flipshow.js') }}"></script>
<script src="{{ asset('bundles/viettutweb/js/views/view.home.js') }}"></script>

<!-- Theme Custom -->
<script src="{{ asset('bundles/viettutweb/js/custom.js') }}"></script>

<!-- Theme Initialization Files -->
<script src="{{ asset('bundles/viettutweb/js/theme.init.js') }}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109753132-1"></script>
<script async>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109753132-1');
</script>
{% block javascript %}
{% endblock %}
</body>
</html>