{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/lib/jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/lib/uploadfile.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/builder.css') }}">
{% endblock %}
{% block main %}
    <div class="card-columns" data-columns="{{ columns|json_encode|e('html_attr') }}">
    <div class="card-info" data-id="{{ id }}" data-gallery="{{ gallery|json_encode|e('html_attr') }}">

    </div>
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Tùy chỉnh card</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ name }}</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="form-horizontal form-bordered">
            {% for column,name in columns %}
                {% if column == 'greeting' %}
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="textareaAutosize">{{ name }}</label>
                            <div class="col-md-6">
                                <textarea class="form-control" rows="5" id="{{ column }}" name="{{ column }}" data-plugin-textarea-autosize="" >{{ data[column] }}</textarea>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="{{ column }}">{{ name }}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-rounded" id="{{ column }}" name="{{ column }}" value="{{ data[column] }}">
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="wedding_date">Ngày cưới</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-rounded" id="wedding_date" value="{{ date | date('Y-m-d H:i') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-lg push-top push-bottom" data-loading-text="Loading..." onclick="submit()">Cập Nhật</button>
                        <a class="btn btn-primary btn-lg push-top push-bottom" href="{{ path('card_page', {'hash': hash}) }}" target="_blank">Xem trước</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>Chỉnh sửa album ảnh</h2>
            <div class="row">
                <div id="fileuploader">Thêm Ảnh</div>
            </div>
            <div class="row">
                <ul class="gallery">
                    {% for img in gallery %}
                        <li data-url="{{ img }}" style="background-image: url({{ img }});" class="aimg"><span><i class="fa fa-trash-o fa-3x" aria-hidden="true"></i></span></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <button class="btn btn-primary btn-lg push-top push-bottom" data-loading-text="Loading..." onclick="updateAlbum()">Cập Nhật Album</button>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/viettutweb/js/lib/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ asset('bundles/viettutweb/js/lib/jquery.uploadfile.min.js') }}"></script>
    <script src="{{ asset('bundles/viettutweb/js/builder.js') }}"></script>
{% endblock %}