{% extends 'base.html.twig' %}
{% block title %}Tủy chỉnh thiệp{% endblock %}
{% block description %}
    Những sản phẩm được tạo ra từ dịch vụ của Thiệp Đỏ
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/lib/jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/lib/uploadfile.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/builder.css') }}">
{% endblock %}
{% block facebook %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1934863569863740',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
{% block main %}
    <div class="card-columns" data-columns="{{ columns|json_encode|e('html_attr') }}">
    <div class="card-info" data-id="{{ id }}" data-gallery="{{ gallery|json_encode|e('html_attr') }}" data-video="{{ video }}">

    </div>
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Tùy chỉnh thiệp</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ name }}</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#general" data-toggle="tab">Thông tin chung</a>
            </li>
            <li>
                <a href="#album" data-toggle="tab">Album ảnh</a>
            </li>
            <li>
                <a href="#video" data-toggle="tab">Video</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane active">
                <div class="form-horizontal form-bordered">
                    {% for column,name in columns %}
                        {% if column == 'greeting' %}
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="textareaAutosize">{{ name }}</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" rows="5" id="{{ column }}" name="{{ column }}" data-plugin-textarea-autosize="">
                                        {% if data[column] is defined %}
                                            {{ data[column] }}
                                        {% endif %}
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="{{ column }}">{{ name }}</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-rounded" id="{{ column }}" name="{{ column }}" value="{% if data[column] is defined %}{{ data[column] }}{% endif %}">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="wedding_date">Giờ thành hôn</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-rounded" id="wedding_date" value="{{ date | date('Y-m-d H:i') }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="wedding_date">Giờ tiệc cưới</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-rounded" id="party_date" value="{{ partyDate | date('Y-m-d H:i') }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputSuccess">&nbsp;</label>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" {% if forGroom %}checked="checked"{% endif %} id="for_groom">
                                        Nhà Trai
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-lg push-top push-bottom" data-loading-text="Loading..." onclick="submit()" id="updateButton">Cập Nhật</button>
                                <a class="btn btn-primary btn-lg push-top push-bottom" href="{{ path('card_page', {'hash': hash}) }}" target="_blank">Xem trước</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="album" class="tab-pane">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-lg push-top push-bottom" onclick="facebookAlbum()" id="fetchAlbums">Tải Từ Facebook</button>
                        </div>
                    </div>
                    <div class="form-group" id="selectAlbums" style="display:none;">
                        <label class="col-md-2 control-label" for="albums">Chọn một album</label>
                        <div class="col-md-3">
                            <select class="form-control mb-md" id="albums">
                                <option selected="selected" value="0">-- chọn album --</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" onclick="downloadAlbum()" id="downloadAlbum">Download</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="fileuploader">Thêm Ảnh</div>
                </div>
                <div class="row">
                    <ul class="gallery">
                        {% for img in gallery %}
                            <li data-url="{{ img['src'] }}" style="background-image: url({{ img['src'] }});" class="aimg"><span><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <button class="btn btn-primary btn-lg push-top push-bottom" data-loading-text="Loading..." onclick="updateAlbum()" id="updateAlbumButton">Cập Nhật Album</button>
                    <a class="btn btn-primary btn-lg push-top push-bottom" href="{{ path('card_page', {'hash': hash}) }}" target="_blank">Xem trước</a>
                </div>
            </div>
            <div id="video" class="tab-pane">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-lg push-top push-bottom" onclick="facebookVideos()" id="fetchVideos">Tải Từ Facebook</button>
                        </div>
                    </div>
                    <div class="form-group" id="selectVideos" style="display:none;">
                        <label class="col-md-2 control-label" for="albums">Chọn một video</label>
                        <div class="col-md-3">
                            <select class="form-control mb-md" id="videos">
                                <option selected="selected" value="0">-- chọn video --</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" onclick="downloadVideo()" id="downloadVideo">Download</button>
                        </div>
                    </div>
                </div>
                <div class="row" id="videoForm">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Link Youtube</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-rounded" id="video_link" value="{{ video }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="embedded">Mã nhúng</label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="embedded" data-plugin-textarea-autosize rows="5">{{ embed }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary btn-lg push-top push-bottom" data-loading-text="Loading..." onclick="updateVideo()" id="updateVideoButton">Cập Nhật Video</button>
                    <a class="btn btn-primary btn-lg push-top push-bottom" href="{{ path('card_page', {'hash': hash}) }}" target="_blank">Xem trước</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/viettutweb/js/lib/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ asset('bundles/viettutweb/js/lib/jquery.uploadfile.min.js') }}"></script>
    <script src="{{ asset('bundles/viettutweb/js/builder.js') }}"></script>
{% endblock %}