{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/css/lib/jquery.datetimepicker.min.css') }}">
{% endblock %}
{% block main %}
    <div class="card-columns" data-columns="{{ columns|json_encode|e('html_attr') }}">
    <div class="card-info" data-id="{{ id }}">

    </div>
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Tùy chỉnh card</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ name }}</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="form-horizontal form-bordered">
            {% for column,name in columns %}
                {% if column == 'greeting' %}
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="textareaAutosize">{{ name }}</label>
                            <div class="col-md-6">
                                <textarea class="form-control" rows="5" id="{{ column }}" name="{{ column }}" data-plugin-textarea-autosize="" >{{ data[column] }}</textarea>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="{{ column }}">{{ name }}</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-rounded" id="{{ column }}" name="{{ column }}" value="{{ data[column] }}">
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="wedding_date">Ngày cưới</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-rounded" id="wedding_date" value="{{ date | date('Y-m-d H:i') }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-lg push-top push-bottom" data-loading-text="Loading..." onclick="submit()">Cập Nhật</button>
                        <a class="btn btn-primary btn-lg push-top push-bottom" href="{{ path('card_page', {'hash': hash}) }}" target="_blank">Xem trước</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
<button>ADD MORE</button>

<ul>
    <li style="background-image: url(http://lorempixel.com/100/100/);" class="aimg"><span>SELECT</span><span>DELETE</span></li>
    <li style="background-image: url(http://lorempixel.com/100/100/);" class="aimg"><span>SELECT</span><span>DELETE</span></li>
    <li style="background-image: url(http://lorempixel.com/100/100/);" class="aimg"><span>SELECT</span><span>DELETE</span></li>
    <li style="background-image: url(http://lorempixel.com/100/100/);" class="aimg"><span>SELECT</span><span>DELETE</span></li>
    </ul>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/viettutweb/js/lib/jquery.datetimepicker.full.min.js') }}"></script>
    <script>
        function submit() {
            var columns = $('.card-columns').data('columns');
            var cardId = $('.card-info').data('id');
            for (var column in columns) {
                columns[column] = $('#' + column).val()
            }


            $.post('/app_dev.php/api/v1/cards/' + cardId + '/updates', columns, function (response) {
                var html = '<div class="alert alert-success alert-dismissable">' +
                '    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                'Thông tin cập nhật thành công !'
                + '</div>';
                $('div.form-horizontal').before(html);
            }, 'json')

            $.ajax({
                headers : {
                    'Content-Type' : 'application/json'
                },
                url : '/app_dev.php/api/v1/cards/' + cardId,
                type : 'PATCH',
                data : JSON.stringify({weddingDate: $('#wedding_date').val()}),
                success : function(response, textStatus, jqXhr) {
                },
                error : function(jqXHR, textStatus, errorThrown) {
                },
                complete : function() {
                }
            });
        }

        $(document).ready(function(){
            jQuery('#wedding_date').datetimepicker(
                {
                    format: 'Y-m-d H:i',
                    lang:   'vi'
                }
            );
        });

        $('ul').on('click','li span:first-child', function() {
                if($(this).parent().hasClass('selected')) {
                    $(this).parent().removeClass('selected');
                } else {
                    $(this).parent().addClass('selected');
                }
        });

        $('ul').on('click','li span:nth-child(2)', function() {
            $(this).parent().fadeOut(300, function() {
                $(this).remove();
            });
        });

$('button').click(function(){
    $('<li style="background-image: url(http://lorempixel.com/100/100/)" class="aimg"><span>SELECT</span><span>DELETE</span></li>').hide().appendTo('ul').fadeIn(300);
});
    </script>
{% endblock %}