<!DOCTYPE html>
<html lang="vi">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://thiepdo.com/garden-wedding"/>
    <meta property="og:description" content="
    On a spring day,
    Two loving people are about to start a new life.
    Even if you are busy, bless the first start of the two
    If you encourage me, I will be more joy."/>

    <meta property="og:title" content="{{ name }}"/>
    <meta property="og:image" content="/bundles/viettutweb/img/templates/gardenwedding/7445cc41988e70ed839f0505739f50fb.jpg"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link href="/bundles/viettutweb/img/thiepdo_120x120.png" sizes="120x120" rel="apple-touch-icon">
    <link rel="icon" sizes="144x144" href="/bundles/viettutweb/img/thiepdo_144x144.png">
    <link rel="icon" sizes="64x64" href="/bundles/viettutweb/img/thiepdo_64x64.png">

    <title>{{ name }}</title>

    <link rel="stylesheet" type="text/css" href="/bundles/viettutweb/css/lib/jquery.mobile-1.4.3.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bundles/viettutweb/css/templates/common/common.css"/>
    <link rel="stylesheet" type="text/css" href="/bundles/viettutweb/css/templates/gardenwedding/style.css"/>
    <link rel="stylesheet" type="text/css" href="/bundles/viettutweb/css/templates/gardenwedding/app.css"/>
    <link rel="stylesheet" href="/bundles/viettutweb/css/templates/common/photoswipe.css">
    <link rel="stylesheet" href="/bundles/viettutweb/css/templates/common/photoswipe.skin.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400italic,700italic' rel='stylesheet' type='text/css'>



</head>
<body>
<div id="coordinates" data-lon="{{ lon }}" data-lat="{{ lat }}" data-title="{{ data['place'] }}"
     data-home-lon="{{ homeLon }}" data-home-lat="{{ homeLat }}" data-home-title="{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}"></div>
<div data-role="page" id="skin_page">
    <!-- panel-groom -->
    <div data-role="panel" id="panel_groom" class="leftpanel" data-position="left" data-display="push"
         data-position-fixed="true" data-swipe-close="true" data-theme="b"
         style="background:#fff url('/bundles/viettutweb/img/templates/gardenwedding/bg_groom.jpg') center top no-repeat; background-size:100%; z-index:9999;">
        <div class="groom-wrap">
            <ul>
                <a href="tel:{{ data['groom_phone'] }}" title="Gọi điện">
                    <li class="ico5">Gọi điện</li>
                </a>
                <a href="sms:{{ data['groom_phone'] }}" title="Nhắn tin">
                    <li class="ico6">Nhắn tin</li>
                </a>
                <a href="http://facebook.com/dalpeng" target="_blank" title="Facebook">
                    <li class="ico7">Facebook</li>
                </a>
                <a href="http://instagram.com/dalpeng2com" target="_blank" title="Instagram">
                    <li class="ico_insta">Instagram</li>
                </a>
            </ul>
            {% if isTemplate %}
                <p class="btn_go_snsbbs">Viết lời chúc</p>
            {% else %}
                <a href="{{ path('guest_book_page', {hash: hash}) }}"><p class="btn_go_snsbbs">Viết lời chúc</p></a>
            {% endif %}
        </div>
    </div>
    <!--// panel-groom -->
    <!-- panel-bride -->
    <div data-role="panel" id="panel_bride" class="righttpanel" data-position="right" data-display="push"
         data-position-fixed="true" data-swipe-close="true" data-theme="a"
         style="background:#fff url('/bundles/viettutweb/img/templates/gardenwedding/bg_bride.jpg') center top no-repeat; background-size:100% auto; z-index:9999;">
        <div class="bride-wrap">
            <ul>
                <a href="tel:{{ data['bride_phone'] }}" title="Gọi điện">
                    <li class="ico1">Gọi điện</li>
                </a>
                <a href="sms:{{ data['bride_phone'] }}" title="Nhắn tin">
                    <li class="ico2">Nhắn tin</li>
                </a>
                <a href='http://facebook.com/dalpeng' target='_blank' title="Facebook">
                    <li class='ico3'>Facebook</li>
                </a>
                <a href="http://instagram.com/dalpeng2com" target="_blank" title="Instagram">
                    <li class="ico_insta">Instagram</li>
                </a>
            </ul>
            {% if isTemplate %}
                <p class="btn_go_snsbbs">Viết lời chúc</p>
            {% else %}
                <a href="{{ path('guest_book_page', {hash: hash}) }}"><p class="btn_go_snsbbs">Viết lời chúc</p></a>
            {% endif %}
        </div>
    </div>
    <!--// panel-bride -->
    <!-- panel-menu -->
    <div data-role="panel" id="right-panel" data-position="right" data-display="push" style="z-index:9999;">
        <div class="menu-wrap ui-panel-inner">
            <ul data-role="listview" data-icon="false">
                <li data-icon="delete"><a href="http://thiepdo.com"><span>Trang Chủ</span></a></li>
                {#<li data-role="list-divider">-------------</li>#}
                <li class="menu_scrolls" data-rel="close" id="p_topinfo"><span>Lời Tựa</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_gallery"><span>Album Ảnh</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_media"><span>Video</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_snsbbs"><span>Sổ Lưu Bút</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_map"><span>Địa Điểm</span></li>
            </ul>
        </div>
    </div>
    <!--// panel-menu -->

    <div class="lnb_mobile">
        <a href="#right-panel">
            <span class="bar_line bar_top"></span>
            <span class="bar_line bar_middle"></span>
            <span class="bar_line bar_bottom"></span>
        </a>
    </div>

    <!-- header -->
    <div class="header ui-section-a" id="sk_topinfo">
        <div class="header_img"
             style="background:url('/bundles/viettutweb/img/templates/gardenwedding/7445cc41988e70ed839f0505739f50fb.jpg') CENTER CENTER no-repeat; background-size:cover;">
            <div class="header_content">
                <div class="header_date">
                    <p class="text">Ngày chung đôi</p>
                    <p class="date"><span>{{ date | date('d.m.Y') }}</span><span>{{ date | date('H:i A') }}</span></p>
                </div>
            </div>
        </div>

        <div class="header_side">
            <div class="lnb">
                <ul>
                    {#<li class="menu1 menu_scrolls"><a href="http://thiepdo.com"><span>Trang Chủ</span></a></li>#}
                    <li class="menu1 menu_scrolls" id="m_topinfo"><span>Lời Tựa</span></li>
                    <li class="menu2 menu_scrolls" id="m_gallery"><span>Album Ảnh</span></li>
                    <li class="menu3 menu_scrolls" id="m_media"><span>Video</span></li>
                    <li class="menu4 menu_scrolls" id="m_snsbbs"><span>Sổ Lưu Bút</span></li>
                    <li class="menu5 menu_scrolls" id="m_map"><span>Địa Điểm</span></li>
                </ul>
            </div>
            <div class="header_panel">
                <p class="groom"><a href="#panel_groom"><span class="icon"></span>Chú Rể</a></p>
                <p class="bride"><a href="#panel_bride"><span class="icon"></span>Cô Dâu</a></p>
            </div>
            <div class="header_loca">
                <p><span>{{ date | date('d.m.Y') }} ({{ date | date('l') }})</span> <span>{{ date | date('H:i A') }}</span></p>
                <p>{{ data['place'] }}</p>
            </div>
        </div>
    </div>
    <!--// header -->

    <div class="ui-section-b">
        <!-- greeting -->
        <div class="greeting_wrap">
            <div class="greeting_img"
                 style="background:url('/bundles/viettutweb/img/templates/gardenwedding/7445cc41988e70ed839f0505739f50fb.jpg') CENTER CENTER no-repeat; background-size:cover;">
                <img src="/bundles/viettutweb/img/templates/gardenwedding/7445cc41988e70ed839f0505739f50fb.jpg" alt="">
            </div>
            <div class="greeting_content">
                <h2 class="title"><span>Lời Tựa</span></h2>

                <div class="greeting_text">
                    {{ data['greeting'] | raw }}
                </div>
                <ul class="greeting_name">
                    {% if forGroom %}
                        <li class="gn_groom">
                            <p class="parents">
                                <span class="gn1">{{ data['groom_fa_name'] }}</span>
                                <span class="gn_and">,</span>
                                <span class="gn2">{{ data['groom_mo_name'] }}</span>
                                {#<span class="gn3">의 차남</span>#}
                            </p>
                            <p><span class="gn4"><em>Chú Rể</em><strong>{{ data['groom_name'] }}</strong></span></p>
                        </li>
                        <li class="gn_bride">
                            <p class="parents">
                                <span class="gn1">{{ data['bride_fa_name'] }}</span>
                                <span class="gn_and">,</span>
                                <span class="gn2">{{ data['bride_mo_name']}}</span>
                                {#<span class="gn3">의 장녀</span>#}
                            </p>
                            <p><span class="gn4"><em>Cô Dâu</em><strong>{{ data['bride_name'] }}</strong></span></p>
                        </li>
                    {% else %}
                        <li class="gn_groom">
                            <p class="parents">
                                <span class="gn1">{{ data['bride_fa_name'] }}</span>
                                <span class="gn_and">,</span>
                                <span class="gn2">{{ data['bride_mo_name']}}</span>
                                {#<span class="gn3">의 장녀</span>#}
                            </p>
                            <p><span class="gn4"><em>Cô Dâu</em><strong>{{ data['bride_name'] }}</strong></span></p>
                        </li>
                        <li class="gn_bride">
                            <p class="parents">
                                <span class="gn1">{{ data['groom_fa_name'] }}</span>
                                <span class="gn_and">,</span>
                                <span class="gn2">{{ data['groom_mo_name'] }}</span>
                                {#<span class="gn3">의 차남</span>#}
                            </p>
                            <p><span class="gn4"><em>Chú Rể</em><strong>{{ data['groom_name'] }}</strong></span></p>
                        </li>
                    {% endif %}
                </ul>

                <div class="greeting_loca">
                    <p>Ngày {{ date | date('d') }} Tháng {{ date | date('m') }} Năm {{ date | date('Y') }}, lúc {{ date | date('H:i A') }}</p>
                    <p>{{ data['place'] }}</p>
                </div>
            </div>
        </div>
        <!--// greeting -->

        <!-- gallery -->
        <div class="gallery_wrap" id="sk_gallery">
            <h2 class="title"><span>Album Ảnh</span></h2>
            <div class="ul-body">
                <div class="gal_list">
                    <div class="col-5">
                        {% for img in first %}
                            <a href="{{ img['src'] }}" class="swipebox" data-size="{{ img['size'] }}" imgId="{{ loop.index }}">
                                <div class="ui-block-{{ loop.index }}" style="background:url('{{ img['src'] }}') center center no-repeat;background-size:cover;"></div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if second | length > 0 %}
                        <div class="col-4">
                            {% for img in second %}
                                <a href="{{ img['src'] }}" class="swipebox" data-size="{{ img['size'] }}" imgId="{{ loop.index + 5}}">
                                    <div class="ui-block-{{ loop.index }}" style="background:url('{{ img['src'] }}') center center no-repeat;background-size:cover;"></div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if rest | length > 0 %}
                        {% for img in rest %}
                            <a href="{{ img['src'] }}" class="swipebox" data-ajax="false" data-size="{{ img['size'] }}" imgId="{{ loop.index + 9}}">
                                {% if loop.index == 1 %}
                                    <p class="gal_more"><span>more</span></p>
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!--// gallery -->


        <!-- dday -->
        <div class="dday_wrap">
            <div class="dday_title">Save The Date</div>
            <div class="dday_text">
                <p class="date">{{ date | date('d.m.Y') }}</p>
                <p class="time"><span>{{ date | date('l') }}</span><span>{{ date | date('H:i A') }}</span></p>
                <p class="dday">D-151</p></div>
        </div>
        <!--// dday -->
        {% if isTemplate %}
            <!-- movie -->
            <div class="movie_wrap" id="sk_media">
                <h2 class="title hidden"><span>Video</span></h2>
                <div class="ul-body">
                    <div class="movie_container movie1">
                        <ul>
                            <li>
                                <iframe
                                        id="movie"
                                        width="100%"
                                        src="http://www.youtube.com/embed/Q9aUb6FJdhk?showinfo=0&autohide=1&rel=0&vq=hd1080"
                                        height="100%"
                                        frameborder="0"
                                        allowfullscreen>
                                </iframe>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// movie -->
        {% else %}
            {% if embed | length > 0 %}
                <!-- movie -->
                <div class="movie_wrap" id="sk_media">
                    <h2 class="title hidden"><span>Video</span></h2>
                    <div class="ul-body">
                        <div class="movie_container movie1">
                            <ul>
                                <li>
                                    {{ embed | raw }}
                                    {#<iframe#}
                                            {#id="movie"#}
                                            {#width="100%"#}
                                            {#src="http://www.youtube.com/embed/{{ video }}?showinfo=0&autohide=1&rel=0&vq=hd1080"#}
                                            {#height="100%"#}
                                            {#frameborder="0"#}
                                            {#allowfullscreen>#}
                                    {#</iframe>#}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// movie -->
            {% endif %}
        {% endif %}

        <!-- guestbook -->
        <div class="guestbook_wrap" id="sk_snsbbs">
            <h2 class="title"><span>Sổ lưu bút</span></h2>

            <div class="ul-body col-3">
                {#<div class="gb_msg"><span>Để lại lời chúc mừng cho cô dâu, chú rể</span></div>#}
                <div id="div_snsbbs" style='z-index:999;'>
                    {% if isTemplate %}
                    <div class="snsbbs_sections">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Michael</strong></p>
                                        <p class="date">2017-07-14 17:45</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Quá tuyệt vời !</p>
                                        <div class="emo-type-c emo11"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Giang Minh</strong></p>
                                        <p class="date">2017-07-14 17:45</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Chúc mừng cô dâu chú rể nhé. </p>
                                        <div class="emo-type-b emo02"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Sunny</strong></p>
                                        <p class="date">2017-07-14 17:43</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Trăm năm hạnh phúc nha !</p>
                                        <div class="emo-type-b emo20"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Windy</strong></p>
                                        <p class="date">2017-07-14 17:43</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Ôi bao giờ mới đến lượt mình đây :((</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections  mobile_hide">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Sweet Corn</strong></p>
                                        <p class="date">2017-07-14 17:43</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>
                                            Wow, thực sự chúc mừng. <br/>
                                            Hãy đến và tham gia vào ngày hạnh phúc của bạn <br/>
                                            Xin chúc mừng ^^
                                        </p>
                                        <div class="emo-type-a emo02"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections  mobile_hide">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/crop_c14f8a35bc8180f7cbf516f097919e03.jpg" alt="profile picture" />
                                        <div class="pro-sns dalpeng"><span></span></div>
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Thích thì nhích</strong></p>
                                        <p class="date">2017-07-14 17:42</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Chúc mừng đôi trẻ !</p>
                                        <div class="emo-type-a emo08"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections  mobile_hide">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                        <div class="pro-sns notmember"><span></span></div>
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>im_mi_ya</strong></p>
                                        <p class="date">2017-07-03 15:04</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>
                                            Chúc mừng đám cưới của bạn! Tôi sẽ đến sớm!
                                        </p>
                                        <div class="emo-type-a emo06"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections  mobile_hide">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                        <div class="pro-sns notmember"><span></span></div>
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>songsong2</strong></p>
                                        <p class="date">2017-07-03 15:02</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Tuyệt đẹp !!!</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        {% for comment in comments %}
                            <div class="snsbbs_sections">
                                <div class="ui-body-d">
                                    <div class="gb_cont_box btn_go_snsbbs">
                                        <div class="pro_info">
                                            <div class="pro_img">
                                                <img src="{{ comment.author.avatar }}" alt="profile picture" />
                                            </div>
                                            <div class="pro_txt">
                                                <p><strong>{{ comment.author.name }}</strong></p>
                                                <p class="date">{{ comment.createdAt | date('d-m-Y H:i') }}</p>
                                            </div>
                                        </div>
                                        <ul class="gb_cont btn_go_snsbbs">
                                            <li class="comm_txt">
                                                <p>{{ comment.content }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if isTemplate %}
                <div class="gb_btn btn_go_snsbbs" style='z-index:999;'><span>Để lại lời chúc</span></div>
            {% else %}
                <a href="{{ path('guest_book_page', {hash: hash}) }}" title="Để lại lời chúc"><div class="gb_btn btn_go_snsbbs" style='z-index:999;'><span>Để lại lời chúc</span></div></a>
            {% endif %}
        </div>
        <!--// guestbook -->

        <!-- location -->
        <div class="location_wrap" id="sk_map">
            <h2 class="title"><span>Địa điểm</span></h2>
            <div class="ul-body">
                <ul class="lo_tab_wrap">
                    <li class="tab_btn wh locationtabs on" id="tabs_wedding" style="cursor: pointer;">{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}</li>
                    <li class="tab_btn rh locationtabs" id="tabs_party" style="cursor: pointer;">Tiệc cưới</li>
                </ul>
            </div>
            <div class="ul-body locationdivs" id="div_wedding">
                <div class="lo_box col-2">
                    <div class="ui-block-1">
                        <div class="lo_title">
                            <h3>Lễ Cưới tổ chức tại</h3>
                            <p class="date">{{ weddingDate | date('d.m.Y H:i A') }}</p>
                            <p class="place">{{ data['home'] }}</p></div>
                        <div class="lo_map">
                            <div id="wedding_pmap_canvas" class="not_view_panel" style="width:100%;height:500px;"></div>
                        </div>
                    </div>
                    <div class="ui-block-2">
                        <div class="lo_containerarea">
                            <table class="lo_container lo_left">
                                <tr>
                                    <th class="lo_loca"><span class="icon">{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}</span></th>
                                    <td class="txt">{{ data['home'] }}</td>
                                </tr>
                                <tr>
                                    <th class="lo_tel"><span class="icon">Tel</span></th>
                                    <td class="txt">{% if forGroom %}{{ data['groom_phone'] }}{% else %}{{ data['bride_phone'] }}{% endif %}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="nav-wrap">
                    <div class="ui-grid-a nav-m">
                        <form action='http://maps.google.com/maps' method='get' target='_blank' id="getPath">
                            <input type='text' name='saddr' placeholder="địa chỉ của bạn"  style="height: 25px;width:300px;"/>
                            <input type='hidden' name='daddr' value='{{ data['home'] }}' />
                        </form>
                        <div class="nav-1">
                            <div class="ui-body-d ui-btn-nav wedding_kimnavi">
                                <span class="ui-btn ui-icon-nav1 ui-btn-icon-left ui-btn-b ui-corner-all ui-shadow ui-custom-btn fc-fff" onclick="getPath()">CHỈ ĐƯỜNG</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav_info">※ Gõ chính xác địa chỉ của bạn vào ô ở trên.</div>
            </div>
            <div class="ul-body locationdivs" id="div_party" style="display:none;">
                <div class="lo_box col-2">
                    <div class="ui-block-1">
                        <div class="lo_title">
                            <h3>Tiệc Cưới tổ chức tại</h3>
                            <p class="date">{{ date | date('d.m.Y H:i A') }}</p>
                            <p class="place">{{ data['place'] }}</p></div>
                        <div class="lo_map">
                            <div id="party_pmap_canvas" class="not_view_panel" style="width:100%;height:500px;"></div>
                        </div>
                    </div>
                    <div class="ui-block-2">
                        <div class="lo_containerarea">
                            <table class="lo_container lo_left">
                                <tr>
                                    <th class="lo_loca"><span class="icon">Địa chỉ</span></th>
                                    <td class="txt">{{ data['place_addr'] }}</td>
                                </tr>
                                <tr>
                                    <th class="lo_tel"><span class="icon">Tel</span></th>
                                    <td class="txt">{{ data['place_phone'] }}</td>
                                </tr>
                                <tr>
                                    <th class="lo_info"><span class="icon">Đỗ xe</span></th>
                                    <td><p>{{ data['parking_info'] }}</p></td>
                                </tr>
                            </table>
                            <table class="lo_container lo_right">
                                <tr>
                                    <th class="lo_bus"><span class="icon">Xe bus</span></th>
                                    <td><p>{{ data['bus_info'] }}</p></td>
                                </tr>
                                <tr>
                                    <th class="lo_subway"><span class="icon">Tàu điện</span></th>
                                    <td><p>{{ data['subway_info'] }}</p></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="nav-wrap">
                    <div class="ui-grid-a nav-m">
                        <form action='http://maps.google.com/maps' method='get' target='_blank' id="getPath">
                            <input type='text' name='saddr' placeholder="địa chỉ của bạn"  style="height: 25px;width:300px;"/>
                            <input type='hidden' name='daddr' value='{{ data['place_addr'] }}' />
                        </form>
                        <div class="nav-1">
                            <div class="ui-body-d ui-btn-nav wedding_kimnavi">
                                <span class="ui-btn ui-icon-nav1 ui-btn-icon-left ui-btn-b ui-corner-all ui-shadow ui-custom-btn fc-fff" onclick="getPath()">CHỈ ĐƯỜNG</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav_info">※ Gõ chính xác địa chỉ của bạn vào ô ở trên.</div>
            </div>
        </div>
        <!--// location  -->
    </div><!--// ui-section-b -->
    <!-- footer -->
    <div class="footer">
        <div class="contents">
            <h4>
                <a href="http://thiepdo.com" target="_blank">
                    <img src="/bundles/viettutweb/img/templates/gardenwedding/lowercase-t-64-269636.png" alt="logo" title="thiepdo.com"/>
                </a>
                <span></span>
            </h4>
            <ul>
                <div class="addthis_inline_share_toolbox"></div>
            </ul>
        </div>
    </div>
    <!--// footer -->
</div><!--//skin_page-->

<!-- photoswipe -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--fit pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter" data-role="none"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)" data-role="none"></button>
                <button class="pswp__button pswp__button--image" title="Include Image" data-role="none"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen" data-role="none"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out" data-role="none"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"
                    data-role="none"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"
                    data-role="none"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center">Image caption 1</div>
            </div>

            <!-- 슬라이드
            <div class="pswp__slide">
                <label for="slide-show">자동 슬라이드</label>
                <input type="checkbox" name="slideShow" id="slide-show" data-role="none">
            </div>
            -->
        </div>
    </div>
</div>
<script src="/bundles/viettutweb/js/lib/jquery-1.11.1.min.js"></script>
<script src="/bundles/viettutweb/js/lib/jquery.mobile-1.4.3.min.js"></script>
<script src="/bundles/viettutweb/js/templates/common/jquery.mobile.init.js"></script>
<script src="/bundles/viettutweb/js/lib/masonry.pkgd.min.js"></script>
<script src="/bundles/viettutweb/js/lib/jquery.scrollTo.min.js"></script>
<script src="/bundles/viettutweb/js/templates/common/photoswipe.js"></script>
<script src="/bundles/viettutweb/js/templates/common/photoswipe-ui-default.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFP7Gn3MRg3XxdnxZ33dKlgHQa7SanZE&callback=initMap">
</script>
<script type="text/javascript">
    $(function () {

        $(".header").css("height", $(window).height());
        $(".header_img").css("height", $(".header").width());
        $(".greeting_wrap").css("min-height", $(window).height());

        $(window).bind("orientationchange, resize", function (e) {
            $(".header").css("height", $(window).height());
            $(".header_img").css("height", $(".header").width());
            $(".greeting_wrap").css("min-height", $(window).height());
        });

        $('body').on("mousewheel", function () {
            event.preventDefault();
            var wheelDelta = event.wheelDelta;
            var currentScrollPosition = window.pageYOffset;
            window.scrollTo(0, currentScrollPosition - wheelDelta);
        });


        $(window).on("orientationchange", function () {
            callMapInitializeAfterResize();
        });

        function callMapInitializeAfterResize() {
//            if ($('#tabs_wedding').hasClass('on') !== false) initialize('wedding');
//            else initialize('party');
        }

        $('#div_snsbbs').masonry({
            //columnWidth: .snsbbs_sections,
            //isFitWidth : true,
            itemSelector: '.snsbbs_sections'
        }).on('layoutComplete', function () {
            return true;
        });

        var closest = function closest(el, fn) {
            return el && (fn(el) ? el : closest(el.parentNode, fn));
        };

        var photoswipeParseHash = function () {
            var hash = window.location.hash.substring(1),
                    params = {};

            if (hash.length < 5) {
                return params;
            }

            var vars = hash.split('&');
            for (var i = 0; i < vars.length; i++) {
                if (!vars[i]) {
                    continue;
                }
                var pair = vars[i].split('=');
                if (pair.length < 2) {
                    continue;
                }
                params[pair[0]] = pair[1];
            }

            if (params.gid) {
                params.gid = parseInt(params.gid, 10);
            }

            return params;
        };

        function getGallery($el) {
            var el = [];
            var aTag = Array.prototype.slice.call($el.find("a"));

            $.merge(el, aTag);

            return el;
        }

        function onThumbnailsClick(e) {
            e = e || window.event;
            e.preventDefault ? e.preventDefault() : e.returnValue = false;

            var eTarget = e.target || e.srcElement;
            var clickedListItem = closest(eTarget, function (el) {
                var tagName = el.tagName.toUpperCase();
                return (tagName && tagName === 'A');
            });

            if (!clickedListItem) {
                return;
            }

            if (clickedListItem.className.indexOf("swipebox") == -1) {
                return false;
            }

            var childNodes = el,
                    numChildNodes = el.length,
                    nodeIndex = 0,
                    index = 0;

            var no_image_count = 0;
            for (var i = 0; i < numChildNodes; i++) {
                if (el[i].className.indexOf("swipebox") == -1) {
                    no_image_count++;
                }

                if (el[i] == clickedListItem) {
                    index = i - no_image_count;

                    break;
                }
            }

            if (index >= 0) {
                openPhotoSwipe(index, el);
            }

            return false;
        }

        var gallery;

        function getPrefix(prop) {
            var style = document.body.style;
            var prefix = ['Webkit', 'ms', 'moz', 'o'];
            var prefix_len = prefix.length;

            if (style[prop] == '') {
                return prop;
            }

            prop = prop[0].toUpperCase() + prop.slice(1);

            for (var i = 0; i < prefix_len; i++) {
                if (style[prefix[i] + prop] == '') {
                    return prefix[i] + prop;
                }
            }
        }

        function getTranslate(transform) {
            var regex;

            if (transform.indexOf('translate3d') == -1) {
                regex = /translate\(([-0-9.]+)px, ([-0-9.]+)px\)/;
            } else {
                regex = /translate3d\(([-0-9.]+)px, ([-0-9.]+)px, ([-0-9.]+)px\)/;
            }

            var matched = transform.match(regex);
            var coordinate = {};

            coordinate.x = matched[1];
            coordinate.y = matched[2];

            if (matched[3]) {
                coordinate.z = matched[3];
            }

            return coordinate;
        }

        function getScale(transform) {
            var regex = /scale\(([0-9.]+)\)/;
            var matched = transform.match(regex);

            return matched[1];
        }

        function psBeforeInitAddEvent() {
            gallery.listen('gettingData', function (index, item) {
                var size = item.el.getAttribute("data-size").split("X");

                item.w = size[0];
                item.h = size[1];
            });

            gallery.listen('arrowUpdate', function () {
                var $nextBtn = $('.pswp__button--arrow--right');
                var $prevBtn = $('.pswp__button--arrow--left');
                var loop = this.options.loop;
                var index = this.getCurrentIndex();

                $nextBtn.toggle(loop || index < this.items.length - 1);
                $prevBtn.toggle(loop || index > 0);
            });

            gallery.listen('initialZoomIn', function () {

            });
        }

        function psAfterInitAddEvent() {
            gallery.listen('initialZoomOut', function () {
                var item = this.currItem;
                var container_style = item.container.style;
                var transform = getPrefix('transform');
                var transition = getPrefix('transition');

                if (!transform || !transition) {
                    return;
                }

                var container_transform = container_style[getPrefix('transform')];
                var scale = getScale(container_transform);
                var coordinate = getTranslate(container_transform);
                var initTransY = item.initialPosition.y;
                var currTransY = coordinate.y;
                var size = item.el.getAttribute("data-size").split("X");
                var transX = item.initialPosition.x;
                var transY;

                if (initTransY > currTransY) {
                    transY = -(size[1]);
                } else {
                    transY = window.screen.availHeight;
                }

                container_style[transition] = "transform " + gallery.options.hideAnimationDuration + "ms";

                if (!this.isGestureClose() && this.isVerticalDrag()) {
                    container_style[getPrefix('transform')] = "translate3d(" + transX + "px, " + transY + "px, 0px) scale(" + scale + ")";
                }
            });

            gallery.listen('close', function () {



            });


        }

        var openPhotoSwipe = function (index, galleryElement, disableAnimation, fromURL) {
            var pswpElement = document.querySelector('.pswp'),
                    options, items, kakaoInApp;

            items = parseThumbnailElements(galleryElement);

            if (/KAKAOTALK/.test(navigator.userAgent)) {
                kakaoInApp = true;
            }

            options = {
                useZoom: true,
                arrowKeys: false,
                hideAnimationDuration: 200,
                showAnimationDuration: 100,
                loop: false,
                imageEl: true,
                galleryUID: $my_gallery[0].getAttribute('data-pswp-uid'),
                showHideOpacity: true,
                getThumbBoundsFn: false,
                closeOnScroll: false,
                kakaoInApp: kakaoInApp,
            };

            if (fromURL) {
                if (options.galleryPIDs) {

                    for (var j = 0; j < items.length; j++) {
                        if (items[j].pid == index) {
                            options.index = j;
                            break;
                        }
                    }
                } else {
                    options.index = parseInt(index, 10);
                }
            } else {
                options.index = parseInt(index, 10);
            }

            if (isNaN(options.index)) {
                return;
            }

            if (disableAnimation) {
                options.showAnimationDuration = 0;
            }

            gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);

            gallery.useAniNum = false;

            // 방명록 글쓰기에 이미지 첨부
            gallery.includeImage = function () {
                var id = gallery.currItem.id
                var url = "gardenwedding/snsbbs/w/" + id;
                var kakaoInApp = gallery.options.kakaoInApp;

                /* KAKAO 인앱 브라우저의 경우 특정 기기에서 전체화면 기능을 키고 방명록 글쓰기 버튼을 눌렀을 때 키보드가 나오지 않는 문제가 있어서 추가
                 (스마트폰 브라우저 창에 특정 작동을 시켜주면 풀리는 이유로 window.open 사용) */
                if (!kakaoInApp) {
                    window.location = url;
                } else {
                    window.open(url);
                }
            };

            psBeforeInitAddEvent();
            gallery.init();
            psAfterInitAddEvent();
        };

        var parseThumbnailElements = function (el) {
            var imageElements = el,
                    numNodes = imageElements.length,
                    items = [],
                    size,
                    item;
            var wrapper = document.createElement('div');
            var imageEl,
                    thumbEl;

            for (var i = 0; i < numNodes; i++) {
                imageEl = imageElements[i];

                if (imageEl.nodeType !== 1) {
                    continue;
                }

                var img_el = imageEl.getElementsByTagName("img");
                var exist_img = img_el.length > 0 ? true : false;
                var src = imageEl.href;
                var is_swipe_image = imageEl.className.indexOf("swipebox") > -1 ? true : false;
                var msrc;
                var $imageEl = $(imageEl);

                if (!is_swipe_image) {
                    continue;
                }

                if (!exist_img) {
                    thumbEl = imageEl.getElementsByTagName("div")[0];

                    if (thumbEl) {
                        msrc = thumbEl.style.backgroundImage.slice(4, -1).replace(/"/g, "");
                    } else {
                        var piece = src.split("/");
                        var pieceCount = piece.length;
                        var file = piece[pieceCount - 1]

                        piece[pieceCount - 1] = "S_" + file;

                        msrc = piece.join("/");
                    }
                } else {
                    if ($imageEl.parent(".gal_more").length > 0 || $imageEl.children(".gal_more").length > 0) {
                        msrc = img_el[0].parentNode.href;
                    } else {
                        thumbEl = img_el[0];
                        msrc = thumbEl.src;
                    }
                }

                item = {
                    src: src,
                    msrc: msrc,
                    el: imageEl,
                };

                item.id = imageEl.getAttribute("imgId");
                items.push(item);
            }
            return items;
        };

        var $my_gallery = $("#sk_gallery");
        var my_gallery_count = $my_gallery.length;
        var el = getGallery($my_gallery);
        var $el = $(el);
        var hashData = photoswipeParseHash();

        $el.on("click", onThumbnailsClick);

        for (var i = 0; i < my_gallery_count; i++) {
            $my_gallery[i].setAttribute("data-pswp-uid", i + 1);
        }

        if (hashData.pid && hashData.gid) {
            openPhotoSwipe(hashData.pid - 1, el, true, true);
        }

        $(document).on("keydown keyup", function (e) {
            var hidden = $(".pswp").attr("aria-hidden") == "true";

            if (hidden) {
                return;
            }

            var keydownAction = '';
            var index = gallery.getCurrentIndex();
            var gallery_len = gallery.items.length;

            if (e.type == "keydown") {
                if (e.keyCode === 37 && index != 0) {
                    keydownAction = 'prev';
                } else if (e.keyCode === 39 && index != (gallery_len - 1)) {
                    keydownAction = 'next';
                }
            } else if (e.type == "keyup") {
                if (e.keyCode === 37 && index == 0) {
                    keydownAction = 'prev';
                } else if (e.keyCode === 39 && index == (gallery_len - 1)) {
                    keydownAction = 'next';
                }
            }

            if (keydownAction) {
                if (!e.ctrlKey && !e.altKey && !e.shiftKey && !e.metaKey) {
                    if (e.preventDefault) {
                        e.preventDefault();
                    } else {
                        e.returnValue = false;
                    }

                    gallery[keydownAction]();
                }
            }
        });


//        $('.locationtabs').click(function () {
//            var id = $(this).attr('id').replace('tabs_', '');
//            $('.locationtabs').removeClass('on');
//            $(this).addClass('on');
//            $('.locationdivs').removeClass('hide');
//            $('.locationdivs').addClass('hide');
//            $('#div_' + id).removeClass('hide');
//
//            setLocationInfoHeight();
//
//            initialize(id);
//        }).css('cursor', 'pointer');

        $('.wedding_kimnavi,.party_kimnavi,.fbirthday_kimnavi,.ceremony_kimnavi').click(function () {
            var id = $(this).attr('class').replace('nav_btn nav_kimnavi ', '').replace('_kimnavi', '').replace('btn_', '').replace('ui-body-d ui-btn-nav ', '').replace('ui-block-1 cont_box3 ', '');

            callKakaoNavi(id);
        });

        $('.wedding_ollehnavi,.party_ollehnavi,.fbirthday_ollehnavi,.ceremony_ollehnavi').click(function () {
            var id = $(this).attr('class').replace('nav_btn nav_ollehnavi ', '').replace('_ollehnavi', '').replace('btn_', '').replace('ui-body-d ui-btn-nav ', '').replace('ui-block-2 cont_box4 ', '');

            callOllehNavi(id);
        });


        $('#div_snsbbs').masonry('bindResize');

//
//        function setLocationInfoHeight() {
//        }

        function setPosition(id) {
            var $obj = $('#sk_' + id);
            // console.log(id);

            $('body').scrollTo($obj, 500);
        }

        $('.menu_scrolls').click(function () {
            try {
                if ($(this).attr('id')) {
                    var id = $(this).attr('id').replace('p_', '').replace('m_', '');
                    setPosition(id);
                }
            } catch (e) {
                //console.log(e);
            }
        }).css('cursor', 'pointer');

        $('#tabs_wedding').click(function() {
            $('#tabs_wedding').addClass('on');
            $('#tabs_party').removeClass('on');
            $('#div_wedding').css('display', 'block');
            $('#div_party').css('display', 'none');
        }).css('cursor', 'pointer');

        $('#tabs_party').click(function() {
            $('#tabs_party').addClass('on');
            $('#tabs_wedding').removeClass('on');
            $('#div_wedding').css('display', 'none');
            $('#div_party').css('display', 'block');
        }).css('cursor', 'pointer');

//        initialize('wedding');
//        setLocationInfoHeight();
    });

    function initMap() {
        var lat = $('#coordinates').data('lat');
        var lon = $('#coordinates').data('lon');
        var title = $('#coordinates').data('title');

        var homeLat = $('#coordinates').data('home-lat');
        var homeLon = $('#coordinates').data('home-lon');
        var homeTitle = $('#coordinates').data('home-title');

        var location = {lat: lat, lng: lon};
        var homeLocation = {lat: homeLat, lng: homeLon};

        var map = new google.maps.Map(document.getElementById('party_pmap_canvas'), {
            zoom: 16,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        var info = new google.maps.InfoWindow({
            content: '<h4>' + title + '</h4>'
        });
        info.open(map, marker);

        var homeMap = new google.maps.Map(document.getElementById('wedding_pmap_canvas'), {
            zoom: 16,
            center: homeLocation
        });
        var homeMarker = new google.maps.Marker({
            position: homeLocation,
            map: homeMap
        });

        var homeInfo = new google.maps.InfoWindow({
            content: '<h4>' + homeTitle + '</h4>'
        });
        homeInfo.open(homeMap, homeMarker);
    }

    function getPath() {
        var addr = $('#getPath input[name=saddr]').val();
        if (addr.length < 3) {
            $('#getPath input[name=saddr]').focus();
            alert('Nhập địa chỉ của bạn một cách chính xác!');
            return;
        }

        document.getElementById("getPath").submit();
    }

    function getHomePath() {
        var addr = $('#getHomePath input[name=saddr]').val();

        if (addr.length < 3) {
            $('#getHomePath input[name=saddr]').focus();
            alert('Nhập địa chỉ của bạn một cách chính xác!');
            return;
        }

        document.getElementById("getHomePath").submit();
    }

    //-->
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52672eec5ea620cd"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109753132-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109753132-1');
</script>
</body>
</html>