<!DOCTYPE html>
<html lang="vi">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://thiepdo.com/garden-wedding"/>
    <meta property="og:description" content="{{ description }}"/>

    <meta property="og:title" content="{{ name }}"/>
    <meta name="description" content="{{ description }}"/>
    <meta property="og:image" content="/bundles/viettutweb/img/templates/gardenwedding/7445cc41988e70ed839f0505739f50fb.jpg"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link href="/bundles/viettutweb/img/thiepdo_120x120.png" sizes="120x120" rel="apple-touch-icon">
    <link rel="icon" sizes="144x144" href="/bundles/viettutweb/img/thiepdo_144x144.png">
    <link rel="icon" sizes="64x64" href="/bundles/viettutweb/img/thiepdo_64x64.png">

    <title>{{ name }}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/libraries.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/gardenwedding/app.css') }}"/>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="coordinates" data-lon="{{ lon }}" data-lat="{{ lat }}" data-title="{{ data['place'] }}"
     data-home-lon="{{ homeLon }}" data-home-lat="{{ homeLat }}" data-home-title="{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}"></div>
<div id="card_id" data-id="{{ id }}"></div>
<div data-role="page" id="skin_page">
    <!-- panel-groom -->
    <div data-role="panel" id="panel_groom" class="leftpanel" data-position="left" data-display="push"
         data-position-fixed="true" data-swipe-close="true" data-theme="b"
         style="background:#fff url('/bundles/viettutweb/img/templates/gardenwedding/bg_groom.jpg') center top no-repeat; background-size:100%; z-index:9999;">
        <div class="groom-wrap">
            <ul>
                <a href="tel:{{ data['groom_phone'] }}" title="Gọi điện">
                    <li class="ico5">Gọi điện</li>
                </a>
                <a href="sms:{{ data['groom_phone'] }}" title="Nhắn tin">
                    <li class="ico6">Nhắn tin</li>
                </a>
                {% if 'groom_facebook' in data|keys %}
                    <a href="{{ data['groom_facebook'] }}" target="_blank" title="Facebook">
                        <li class="ico7">Facebook</li>
                    </a>
                {% else %}
                    <a href="http://facebook.com/thiepdodigital" target="_blank" title="Facebook">
                        <li class="ico7">Facebook</li>
                    </a>
                {% endif %}
                {% if 'groom_instagram' in data|keys %}
                    <a href="{{ data['groom_instagram'] }}" target="_blank" title="Instagram">
                        <li class="ico_insta">Instagram</li>
                    </a>
                {% else %}
                    <a href="http://instagram.com/thiepdodigital" target="_blank" title="Instagram">
                        <li class="ico_insta">Instagram</li>
                    </a>
                {% endif %}

            </ul>
            {% if isTemplate %}
                <p class="btn_go_snsbbs">Chúc mừng</p>
            {% else %}
                <a href="{{ path('guest_book_page', {hash: hash}) }}"><p class="btn_go_snsbbs">Chúc mừng</p></a>
            {% endif %}
        </div>
    </div>
    <!--// panel-groom -->
    <!-- panel-bride -->
    <div data-role="panel" id="panel_bride" class="righttpanel" data-position="right" data-display="push"
         data-position-fixed="true" data-swipe-close="true" data-theme="a"
         style="background:#fff url('/bundles/viettutweb/img/templates/gardenwedding/bg_bride.jpg') center top no-repeat; background-size:100% auto; z-index:9999;">
        <div class="bride-wrap">
            <ul>
                <a href="tel:{{ data['bride_phone'] }}" title="Gọi điện">
                    <li class="ico1">Gọi điện</li>
                </a>
                <a href="sms:{{ data['bride_phone'] }}" title="Nhắn tin">
                    <li class="ico2">Nhắn tin</li>
                </a>
                {% if 'bride_facebook' in data|keys %}
                    <a href="{{ data['bride_facebook'] }}" target="_blank" title="Facebook">
                        <li class="ico3">Facebook</li>
                    </a>
                {% else %}
                    <a href="http://facebook.com/thiepdodigital" target="_blank" title="Facebook">
                        <li class="ico3">Facebook</li>
                    </a>
                {% endif %}
                {% if 'bride_instagram' in data|keys %}
                    <a href="{{ data['bride_instagram'] }}" target="_blank" title="Instagram">
                        <li class="ico_insta">Instagram</li>
                    </a>
                {% else %}
                    <a href="http://instagram.com/thiepdodigital" target="_blank" title="Instagram">
                        <li class="ico_insta">Instagram</li>
                    </a>
                {% endif %}
            </ul>
            {% if isTemplate %}
                <p class="btn_go_snsbbs">Chúc mừng</p>
            {% else %}
                <a href="{{ path('guest_book_page', {hash: hash}) }}"><p class="btn_go_snsbbs">Chúc mừng</p></a>
            {% endif %}
        </div>
    </div>
    <!--// panel-bride -->
    <!-- panel-menu -->
    <div data-role="panel" id="right-panel" data-position="right" data-display="push" style="z-index:9999;">
        <div class="menu-wrap ui-panel-inner">
            <ul data-role="listview" data-icon="false">
                <li class="menu_scrolls" data-rel="close"><span>Trang Chủ</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_topinfo"><span>Lời Tựa</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_gallery"><span>Album Ảnh</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_media"><span>Video</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_snsbbs"><span>Lưu Bút</span></li>
                <li class="menu_scrolls" data-rel="close" id="p_map"><span>Địa Điểm</span></li>
            </ul>
        </div>
    </div>
    <!--// panel-menu -->

    <div class="lnb_mobile">
        <a href="#right-panel">
            <span class="bar_line bar_top"></span>
            <span class="bar_line bar_middle"></span>
            <span class="bar_line bar_bottom"></span>
        </a>
    </div>

    <!-- header -->
    <div class="header ui-section-a" id="sk_topinfo">
        <div class="header_img"
             style="background:url('/bundles/viettutweb/img/templates/gardenwedding/7445cc41988e70ed839f0505739f50fb.jpg') CENTER CENTER no-repeat; background-size:cover;">
            <div class="header_content">
                <div class="header_date">
                    <p class="text">Ngày chung đôi</p>
                    <p class="date"><span>{{ date | date('d-m-Y') }}</span><span>{{ date | date('H:i A') }}</span></p>
                </div>
            </div>
        </div>

        <div class="header_side">
            <div class="lnb">
                <ul>
                    <li class="menu1 menu_scrolls"><span>Trang Chủ</span></li>
                    <li class="menu1 menu_scrolls" id="m_topinfo"><span>Lời Tựa</span></li>
                    <li class="menu2 menu_scrolls" id="m_gallery"><span>Album Ảnh</span></li>
                    <li class="menu3 menu_scrolls" id="m_media"><span>Video</span></li>
                    <li class="menu4 menu_scrolls" id="m_snsbbs"><span>Lưu Bút</span></li>
                    <li class="menu5 menu_scrolls" id="m_map"><span>Địa Điểm</span></li>
                </ul>
            </div>
            <div class="header_panel">
                <p class="groom"><a href="#panel_groom"><span class="icon"></span>Chú Rể</a></p>
                <p class="bride"><a href="#panel_bride"><span class="icon"></span>Cô Dâu</a></p>
            </div>
            <div class="header_loca">
                <p><span>{{ date | long_time }}</span></p>
                <p>{{ data['place'] }}</p>
            </div>
        </div>
    </div>
    <!--// header -->

    <div class="ui-section-b">
        <!-- greeting -->
        <div class="greeting_wrap">
            <div class="greeting_img"
                 style="background:url('/bundles/viettutweb/img/templates/gardenwedding/7445cc41988e70ed839f0505739f50fb.jpg') CENTER CENTER no-repeat; background-size:cover;">
                <img src="/bundles/viettutweb/img/templates/gardenwedding/7445cc41988e70ed839f0505739f50fb.jpg" alt="">
            </div>
            <div class="greeting_content">
                <h2 class="title"><span>Lời Tựa</span></h2>

                <div class="greeting_text">
                    {{ data['greeting'] | raw }}
                </div>
                <ul class="greeting_name">
                    {% if forGroom %}
                        <li class="gn_groom">
                            <p class="parents">
                                <span class="gn1">{{ data['groom_fa_name'] }}</span>
                                <span class="gn_and">,</span>
                                <span class="gn2">{{ data['groom_mo_name'] }}</span>
                            </p>
                            <p><span class="gn4"><em>Chú Rể</em><strong>{{ data['groom_name'] }}</strong></span></p>
                        </li>
                        <li class="gn_bride">
                            <p class="parents">
                                <span class="gn1">{{ data['bride_fa_name'] }}</span>
                                <span class="gn_and">,</span>
                                <span class="gn2">{{ data['bride_mo_name']}}</span>
                            </p>
                            <p><span class="gn4"><em>Cô Dâu</em><strong>{{ data['bride_name'] }}</strong></span></p>
                        </li>
                    {% else %}
                        <li class="gn_groom">
                            <p class="parents">
                                <span class="gn1">{{ data['bride_fa_name'] }}</span>
                                <span class="gn_and">,</span>
                                <span class="gn2">{{ data['bride_mo_name']}}</span>
                            </p>
                            <p><span class="gn4"><em>Cô Dâu</em><strong>{{ data['bride_name'] }}</strong></span></p>
                        </li>
                        <li class="gn_bride">
                            <p class="parents">
                                <span class="gn1">{{ data['groom_fa_name'] }}</span>
                                <span class="gn_and">,</span>
                                <span class="gn2">{{ data['groom_mo_name'] }}</span>
                            </p>
                            <p><span class="gn4"><em>Chú Rể</em><strong>{{ data['groom_name'] }}</strong></span></p>
                        </li>
                    {% endif %}
                </ul>

                <div class="greeting_loca">
                    <p>{{ date | long_date }}, hồi {{ date | date('H:i') }}</p>
                    <p>(tức {{ dateAl }})</p>
                    <p>{{ data['place'] }}</p>
                </div>
            </div>
        </div>
        <!--// greeting -->

        <!-- gallery -->
        <div class="gallery_wrap" id="sk_gallery">
            <h2 class="title"><span>Album Ảnh</span></h2>
            <div class="ul-body">
                <div class="gal_list">
                    <div class="col-5">
                        {% for img in gallery[0:5] %}
                            <a href="{{ img['src'] }}" class="swipebox" data-size="{{ img['size'] }}" imgId="{{ loop.index }}">
                                <div class="ui-block-{{ loop.index }}" style="background:url('{{ img['src'] }}') center center no-repeat;background-size:cover;"></div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if gallery | length > 5 %}
                        <div class="col-4">
                            {% for img in gallery[5:4] %}
                                <a href="{{ img['src'] }}" class="swipebox" data-size="{{ img['size'] }}" imgId="{{ loop.index + 5}}">
                                    <div class="ui-block-{{ loop.index }}" style="background:url('{{ img['src'] }}') center center no-repeat;background-size:cover;"></div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if gallery | length > 9 %}
                        {% for img in gallery[9:] %}
                            <a href="{{ img['src'] }}" class="swipebox" data-ajax="false" data-size="{{ img['size'] }}" imgId="{{ loop.index + 9}}">
                                {% if loop.index == 1 %}
                                    <p class="gal_more"><span>more</span></p>
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!--// gallery -->


        <!-- dday -->
        <div class="dday_wrap">
            <div class="dday_title">Save The Date</div>
            <div class="dday_text">
                <p class="date">{{ date | date('d-m-Y') }}</p>
                <p class="time"><span>{{ date | full_day }}</span><span>{{ date | date('H:i') }}</span></p>
                <p class="dday">D-151</p></div>
        </div>
        <!--// dday -->
        {% if isTemplate %}
            <!-- movie -->
            <div class="movie_wrap" id="sk_media">
                <h2 class="title hidden"><span>Video</span></h2>
                <div class="ul-body">
                    <div class="movie_container movie1">
                        <ul>
                            <li class="iframe-container">
                                <iframe
                                        id="movie"
                                        width="100%"
                                        src="http://www.youtube.com/embed/Q9aUb6FJdhk?showinfo=0&autohide=1&rel=0&vq=hd1080"
                                        height="100%"
                                        frameborder="0"
                                        allowfullscreen>
                                </iframe>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// movie -->
        {% else %}
            {% if embed | length > 0 %}
                <!-- movie -->
                <div class="movie_wrap" id="sk_media">
                    <h2 class="title hidden"><span>Video</span></h2>
                    <div class="ul-body">
                        <div class="movie_container movie1">
                            <ul>
                                <li class="iframe-container">
                                    {{ embed | raw }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// movie -->
            {% endif %}
        {% endif %}

        <!-- guestbook -->
        <div class="guestbook_wrap" id="sk_snsbbs">
            <h2 class="title"><span>Lưu bút</span></h2>

            <div class="ul-body col-3">
                <div class="gb_msg">Để lại lời chúc mừng cho cô dâu & chú rể !</div>
                <div id="div_snsbbs" style='z-index:999;'>
                    {% if isTemplate %}
                    <div class="snsbbs_sections">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Michael</strong></p>
                                        <p class="date">2017-07-14 17:45</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Quá tuyệt vời !</p>
                                        <div class="emo-type-c emo11"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Giang Minh</strong></p>
                                        <p class="date">2017-07-14 17:45</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Chúc mừng cô dâu chú rể nhé. </p>
                                        <div class="emo-type-b emo02"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Sunny</strong></p>
                                        <p class="date">2017-07-14 17:43</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Trăm năm hạnh phúc nha !</p>
                                        <div class="emo-type-b emo20"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Windy</strong></p>
                                        <p class="date">2017-07-14 17:43</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Ôi bao giờ mới đến lượt mình đây :((</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections  mobile_hide">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Sweet Corn</strong></p>
                                        <p class="date">2017-07-14 17:43</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>
                                            Wow, thực sự chúc mừng. <br/>
                                            Hãy đến và tham gia vào ngày hạnh phúc của bạn <br/>
                                            Xin chúc mừng ^^
                                        </p>
                                        <div class="emo-type-a emo02"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections  mobile_hide">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/crop_c14f8a35bc8180f7cbf516f097919e03.jpg" alt="profile picture" />
                                        <div class="pro-sns dalpeng"><span></span></div>
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>Thích thì nhích</strong></p>
                                        <p class="date">2017-07-14 17:42</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Chúc mừng đôi trẻ !</p>
                                        <div class="emo-type-a emo08"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections  mobile_hide">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                        <div class="pro-sns notmember"><span></span></div>
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>im_mi_ya</strong></p>
                                        <p class="date">2017-07-03 15:04</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>
                                            Chúc mừng đám cưới của bạn! Tôi sẽ đến sớm!
                                        </p>
                                        <div class="emo-type-a emo06"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="snsbbs_sections  mobile_hide">
                        <div class="ui-body-d">
                            <div class="gb_cont_box btn_go_snsbbs">
                                <div class="pro_info">
                                    <div class="pro_img">
                                        <img src="/bundles/viettutweb/img/templates/gardenwedding/img_profile.png" alt="profile picture" />
                                        <div class="pro-sns notmember"><span></span></div>
                                    </div>
                                    <div class="pro_txt">
                                        <p><strong>songsong2</strong></p>
                                        <p class="date">2017-07-03 15:02</p>
                                    </div>
                                </div>
                                <ul class="gb_cont btn_go_snsbbs">
                                    <li class="comm_txt">
                                        <p>Tuyệt đẹp !!!</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        {% for comment in comments %}
                            <div class="snsbbs_sections">
                                <div class="ui-body-d">
                                    <div class="gb_cont_box btn_go_snsbbs">
                                        <div class="pro_info">
                                            <div class="pro_img">
                                                <img src="{{ comment.author.avatar }}" alt="profile picture" />
                                            </div>
                                            <div class="pro_txt">
                                                <p><strong>{{ comment.author.name }}</strong></p>
                                                <p class="date">{{ comment.createdAt | date('d-m-Y H:i') }}</p>
                                            </div>
                                        </div>
                                        <ul class="gb_cont btn_go_snsbbs">
                                            <li class="comm_txt">
                                                <p>{{ comment.content }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if isTemplate %}
                <div class="gb_btn btn_go_snsbbs" style='z-index:999;' onclick="guestBookAlert()"><span>Chúc mừng</span></div>
            {% else %}
                <a href="{{ path('guest_book_page', {hash: hash}) }}" title="Để lại lời chúc"><div class="gb_btn btn_go_snsbbs" style='z-index:999;'><span>Chúc mừng</span></div></a>
            {% endif %}
        </div>
        <!--// guestbook -->

        <!-- location -->
        <div class="location_wrap" id="sk_map">
            <h2 class="title"><span>Địa điểm</span></h2>
            <div class="ul-body">
                <ul class="lo_tab_wrap">
                    <li class="tab_btn wh locationtabs on" id="tabs_wedding" style="cursor: pointer;">Lễ Thành Hôn</li>
                    <li class="tab_btn rh locationtabs" id="tabs_party" style="cursor: pointer;">Tiệc cưới</li>
                </ul>
            </div>
            <div class="ul-body locationdivs" id="div_wedding">
                <div class="lo_box col-2">
                    <div class="ui-block-1">
                        <div class="lo_title">
                            <h3>{% if forGroom %}Nhà Trai{% else %}Nhà Gái{% endif %}</h3>
                            <p class="date">{{ weddingDate | long_date }}, hồi {{ weddingDate | date('H:i') }}</p>
                            <p class="place">{{ data['home'] }}</p></div>
                        <div class="lo_map">
                            <div id="wedding_pmap_canvas" class="not_view_panel" style="width:100%;height:500px;"></div>
                        </div>
                    </div>
                    <div class="ui-block-2">
                        <div class="lo_containerarea">
                            <table class="lo_container lo_left">
                                <tr>
                                    <th class="lo_loca"><span class="icon">Địa chỉ</span></th>
                                    <td>{{ data['home'] }}</td>
                                </tr>
                                <tr>
                                    <th class="lo_info"><span class="icon">Hướng dẫn</span></th>
                                    <td><p>{{ data['home_info'] }}</p></td>
                                </tr>
                            </table>
                            <table class="lo_container lo_right">
                                <tr>
                                    <th class="lo_tel"><span class="icon">Liên hệ</span></th>
                                    <td>{{ data['home_contact'] }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="nav-wrap">
                    <div class="ui-grid-a nav-m">
                        <form action='http://maps.google.com/maps' method='get' target='_blank' id="getPath">
                            <input type='text' name='saddr' placeholder="địa chỉ của bạn"  style="height: 25px;width:300px;"/>
                            <input type='hidden' name='daddr' value='{{ data['home'] }}' />
                        </form>
                        <div class="nav-1">
                            <div class="ui-body-d ui-btn-nav wedding_kimnavi">
                                <span class="ui-btn ui-icon-nav1 ui-btn-icon-left ui-btn-b ui-corner-all ui-shadow ui-custom-btn fc-fff" onclick="getPath()">CHỈ ĐƯỜNG</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav_info">※ Gõ chính xác địa chỉ của bạn vào ô ở trên.</div>
            </div>
            <div class="ul-body locationdivs" id="div_party" style="display:none;">
                <div class="lo_box col-2">
                    <div class="ui-block-1">
                        <div class="lo_title">
                            <h3>Tiệc Cưới</h3>
                            <p class="date">{{ date | long_date }}, hồi {{ date | date('H:i') }}</p>
                            <p class="place">{{ data['place'] }}</p></div>
                        <div class="lo_map">
                            <div id="party_pmap_canvas" class="not_view_panel" style="width:100%;height:500px;"></div>
                        </div>
                    </div>
                    <div class="ui-block-2">
                        <div class="lo_containerarea">
                            <table class="lo_container lo_left">
                                <tr>
                                    <th class="lo_loca"><span class="icon">Địa chỉ</span></th>
                                    <td>{{ data['place_addr'] }}</td>
                                </tr>
                                <tr>
                                    <th class="lo_info"><span class="icon">Hướng dẫn</span></th>
                                    <td><p>{{ data['place_info'] }}</p></td>
                                </tr>
                                <tr>
                                    <th class="lo_tel"><span class="icon">Liên hệ</span></th>
                                    <td>{{ data['place_phone'] }}</td>
                                </tr>
                            </table>
                            <table class="lo_container lo_right">
                                <tr>
                                    <th class="lo_bus"><span class="icon">Xe Khách</span></th>
                                    <td><p>{{ data['bus_info'] }}</p></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="nav-wrap">
                    <div class="ui-grid-a nav-m">
                        <form action='http://maps.google.com/maps' method='get' target='_blank' id="getPath">
                            <input type='text' name='saddr' placeholder="địa chỉ của bạn"  style="height: 25px;width:300px;"/>
                            <input type='hidden' name='daddr' value='{{ data['place_addr'] }}' />
                        </form>
                        <div class="nav-1">
                            <div class="ui-body-d ui-btn-nav wedding_kimnavi">
                                <span class="ui-btn ui-icon-nav1 ui-btn-icon-left ui-btn-b ui-corner-all ui-shadow ui-custom-btn fc-fff" onclick="getPath()">CHỈ ĐƯỜNG</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav_info">※ Gõ chính xác địa chỉ của bạn vào ô ở trên.</div>
            </div>
        </div>
        <!--// location  -->
    </div><!--// ui-section-b -->
    <!-- footer -->
    <div class="footer">
        <div class="contents">
            <h4>
                <a href="{{ path('home_page') }}" target="_blank">
                    <img src="/bundles/viettutweb/img/templates/gardenwedding/lowercase-t-64-269636.png" alt="logo" title="thiepdo.com"/>
                </a>
                <span></span>
            </h4>
            <ul>
                <div class="addthis_inline_share_toolbox"></div>
            </ul>
        </div>
    </div>
    <!--// footer -->
</div><!--//skin_page-->

<!-- photoswipe -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--fit pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter" data-role="none"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)" data-role="none"></button>
                <button class="pswp__button pswp__button--image" title="Include Image" data-role="none"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen" data-role="none"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out" data-role="none"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"
                    data-role="none"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"
                    data-role="none"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center">Image caption 1</div>
            </div>
        </div>
    </div>
</div>
{% if voted == false %}
<div id="signup" class="signup">
    <div class="container">
        <div class="row">
            <i>Vui lòng cho biết dự định của bạn !</i>
        </div>
        <div class="row">
            <button class="btn btn-success" id="btn_going" onclick="updateStatus(1)">Sẽ đến</button> &nbsp;
            <button class="btn btn-warning" id="btn_notsure" onclick="updateStatus(2)">Cân nhắc</button> &nbsp;
            <button class="btn btn-danger" id="btn_notgoing" onclick="updateStatus(3)">Không đến</button>
        </div>
        <a href="#" class="close"><i class="fa fa-times text-white"></i></a>
    </div>
</div>
{% endif %}

<script src="{{ asset('js/libraries.min.js') }}"></script>
<script src="{{ asset('js/gardenwedding/index.js') }}"></script>
{% if isTemplate == false %}
<script type="text/javascript">
        (function($) {
            $.fn.onScrollTo = function(focusInFn, focusOutFn) {
                var $this = this;
                $(document).scroll(function() {
                    var y = $(this).scrollTop();
                    if (y >= $this.position().top) {
                        if (focusInFn) focusInFn();
                    } else {
                        if (focusOutFn) focusOutFn();
                    }
                });
            }
        })(jQuery);

        $('.movie_wrap').onScrollTo(function() {
            $('#signup').addClass('show');
        }, function() {
            $('#signup').removeClass('show');
        });

        $('#signup').on('click', '.close', function(e) {
            e.preventDefault();
            $('#signup').removeClass('show');
        });
</script>
{% endif %}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFP7Gn3MRg3XxdnxZ33dKlgHQa7SanZE&callback=initMap">
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52672eec5ea620cd"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109753132-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109753132-1');
</script>
</body>
</html>