<!DOCTYPE html>
<html lang="vi"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="{{ asset('bundles/viettutweb/templates/template1/css/css.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/viettutweb/templates/template1/css/css_002.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/viettutweb/templates/template1/css/css_003.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/templates/template1/css/font_experience.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <meta name="format-detection" content="telephone=no, email=no, address=no">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Template 1">
    <meta property="og:description" content="Template 1">
    {#<meta property="og:url" content="http://card-market.co.kr/mbcard/mb_card.php?mIdx=">#}
    {#<meta property="og:image" content="http://card-market.co.kr/_data/mbcard/photo/out//k.jpg?1507346508">#}

    <title>Template 1</title>
    <!-- base href="http://card-market.co.kr/mbcard/skin/9/" -->
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/templates/template1/css/common.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/templates/template1/css/style.css') }}">
</head>
<body>
<!-- wrap -->
<div id="dic_bubble" class="selection_bubble fontSize13 noSelect" style="z-index:9999; border: 1px solid #4AAEDE;fetching=false"></div><div id="wrap">
    {% if isCard %}
        <div class="card-info" data-id="{{ id }}" data-gallery="{{ gallery|json_encode|e('html_attr') }}"></div>
    {% endif %}

    <p class="top_txt">THIỆP MỜI</p>

    <!-- visual -->
    <div class="visual">
        <p class="visual_img"><img src="{{ asset('bundles/viettutweb/templates/template1/img/visual_img.jpg') }}" height="auto" width="100%"></p>

        <!-- v_txt -->
        <div class="v_txt">
            <p class="ex">HÔN LỄ CỦA</p>
            <p class="name">
                <b class="groom GR_NM">{{ data['groom_nm_eng'] }}</b>
                <b class="bride BR_NM">{{ data['bride_nm_eng'] }}</b>
            </p>
            <p class="day_b">
                <span class="day_num W_DD">{{ date | date('d') }}</span>
                <span class="month_num W_MM"> Tháng {{ date | date('m') }}</span>
            </p>
        </div>
    </div>

    <!-- data_txt -->
    <div class="data_txt">
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/data_txt_line.png') }}" height="auto" width="82">
        <p class="date">
            <span class="year W_WeekKr">{{ date | date('l') }}</span>
            <span class="year W_TimeKr">{{ date | date('H:i A') }}</span>
        </p>
        <p class="hall">
            <span class="PL_NM">{{ data['place_nm'] }}</span>
            <span class="PL_NM2">{{ data['place_addr'] }}</span>
        </p>
    </div>


    <!-- greeting -->
    <div class="greeting">
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/greeting_top.png') }}" height="auto" width="100">
        <pre class="gcon GREETING">
            {{ data['greeting'] }}
        </pre>

        <!-- sms -->
        <div class="sms">
            <div class="lft">
                <p>
                    <b class="GR_NM">{{ data['groom_nm_eng'] }}</b>
                    <i>CHÚ RỂ</i>
                </p>
                <div>
                    <a class="call" href="tel:{{ data['groom_hp'] }}" id="GROOMPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_groom_call.png') }}" alt="" height="auto" width="51"></a>
                    <a class="msg" href="sms:{{ data['groom_hp'] }}" id="GROOMSMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_groom_msg.png') }}" alt="" height="auto" width="51"></a>
                </div>
            </div>
            <div class="rgt">
                <p>
                    <b class="BR_NM">{{ data['bride_nm_eng'] }}</b>
                    <i>CÔ DÂU</i>
                </p>
                <div>
                    <a class="call" href="tel:{{ data['bride_hp'] }}" id="BRIDEPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_bride_call.png') }}" alt="" height="auto" width="51"></a>
                    <a class="msg" href="sms:{{ data['bride_hp'] }}" id="BRIDESMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_bride_msg.png') }}" alt="" height="auto" width="51"></a>
                </div>
            </div>
            <p class="ex"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_and.png') }}" height="auto" width="48"></p>
        </div>
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_img.jpg') }}" class="sms_img" height="auto" width="100%">

        <!-- parent -->
        <div class="parent PARENT_INFO">
            <div class="lft">
                <p>&lt;Nhà Trai&gt;</p>
                <p class="info">
                    <span>Cha </span> <i class="GR_FA">{{ data['groom_fa_nm'] }}</i>
					<span class="GR_FA_HP">
						<a class="call" href="tel:{{ data['groom_fa_hp'] }}" id="GROOMFAPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_call.png') }}" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:{{ data['groom_fa_hp'] }}" id="GROOMFASMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_msg.png') }}" alt="" height="auto" width="26"></a>
					</span>
                </p>
                <p class="info">
                    <span>Mẹ </span> <i class="GR_MO">{{ data['groom_mo_nm'] }}</i>
					<span class="GR_MO_HP">
						<a class="call" href="tel:{{ data['groom_mo_hp'] }}" id="GROOMMOPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_call.png') }}" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:{{ data['groom_mo_hp'] }}" id="GROOMMOSMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_msg.png') }}" alt="" height="auto" width="26"></a>
					</span>
                </p>
            </div>
            <div class="rgt">
                <p>&lt;Nhà Gái&gt;</p>
                <p class="info">
                    <span>Cha </span> <i class="BR_FA">{{ data['bride_fa_nm'] }}</i>
					<span class="BR_FA_HP">
						<a class="call" href="tel:{{ data['bride_fa_hp'] }}" id="BRIDEFAPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_call.png') }}" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:{{ data['bride_fa_hp'] }}" id="BRIDEFASMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_msg2.png') }}" alt="" height="auto" width="26"></a>
					</span>
                </p>
                <p class="info">
                    <span>Mẹ </span> <i class="BR_MO">{{ data['bride_mo_nm'] }}</i>
					<span class="BR_MO_HP">
						<a class="call" href="tel:{{ data['bride_mo_hp'] }}" id="BRIDEMOPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_call.png') }}" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:{{ data['bride_mo_hp'] }}" id="BRIDEMOSMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_msg2.png') }}" alt="" height="auto" width="26"></a>
					</span>
                </p>
            </div>
        </div>
    </div>


    <!-- gallery -->
    <div class="gallery">
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/gallery_tit.png') }}" height="auto" width="138">
        <ul id="GAL_LIST" class="lst bxslider">
            {% for img in gallery %}
                <li><img src="{{ img }}" alt="slider image"></li>
            {% endfor %}
        </ul>
    </div>

    <!-- board -->
    <div class="board">
        <p class="ex_t"><img src="{{ asset('bundles/viettutweb/templates/template1/img/board_top.jpg') }}" height="auto" width="100%"></p>
        {% if app.user %}
            <div class="board_form">
                <div>
                    <p class="txtb"><textarea id="message"  placeholder="để lại lời chúc mừng"></textarea></p>
                    <p class="inpb">
                        <span class="btn"><input value="Đăng" type="submit" onclick="addComment()" /></span>
                    </p>
                </div>
            </div>
            <br/>
            <br/>
        {% endif %}

        <ul id="MSG_LIST" class="board_lst">
            {% if comments|length > 0 %}
                {% for comment in comments %}
                    <li class="MSG_ITEM" data-msg_idx="83757">
                        <p class="name">{{ comment.author.username }}</p>
                        <p class="date">
                            <span>{{ comment.createdAt | date('Y-m-d H:i:s') }}</span>
                        </p>
                        <p class="con">{{ comment.content }}</p>
                        <div class="del_b">
                            <a class="del BTN_DEL_MSG"><img src="{{ asset('bundles/viettutweb/templates/template1/img/board_del.png') }}" width="12" height="12" alt=""></a>
                            <p class="pw_layer POPUP_DEL_MSG" style="display:none">
                                <label for="b_pw">Nhập mật khẩu<label>
                                        <input type="password" class="PWD" name="b_pw">
                                        <a class="del_cf CNF_DEL_MSG">Kiểm tra</a>
                                        <a class="del_cl CCL_DEL_MSG">Hủy</a>
                                    </label></label></p>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}

            {% if isTemplate %}
                <li class="MSG_ITEM" data-msg_idx="83757">
                    <p class="name">Ms Elly</p>
                    <p class="date">
                        <span>2017-10-12 15:30</span>
                    </p>
                    <p class="con">Chúc mừng hai bạn, đẹp đôi quá !</p>
                    <div class="del_b">
                        <a class="del BTN_DEL_MSG"><img src="{{ asset('bundles/viettutweb/templates/template1/img/board_del.png') }}" width="12" height="12" alt=""></a>
                        <p class="pw_layer POPUP_DEL_MSG" style="display:none">
                            <label for="b_pw">Nhập mật khẩu<label>
                                    <input type="password" class="PWD" name="b_pw">
                                    <a class="del_cf CNF_DEL_MSG">Kiểm tra</a>
                                    <a class="del_cl CCL_DEL_MSG">Hủy</a>
                                </label></label></p>
                    </div>
                </li>
                <li class="MSG_ITEM" data-msg_idx="83757">
                    <p class="name">Mr Kent</p>
                    <p class="date">
                        <span>2017-10-12 15:30</span>
                    </p>
                    <p class="con">Chúc mừng hai bạn !</p>
                    <div class="del_b">
                        <a class="del BTN_DEL_MSG"><img src="{{ asset('bundles/viettutweb/templates/template1/img/board_del.png') }}" width="12" height="12" alt=""></a>
                        <p class="pw_layer POPUP_DEL_MSG" style="display:none">
                            <label for="b_pw">Nhập mật khẩu<label>
                                    <input type="password" class="PWD" name="b_pw">
                                    <a class="del_cf CNF_DEL_MSG">Kiểm tra</a>
                                    <a class="del_cl CCL_DEL_MSG">Hủy</a>
                                </label></label></p>
                    </div>
                </li>
            {% endif %}
        </ul>
        {#<p id="MORE_MSG_LIST" class="board_lst_more"><a id="BTN_MORE_MSG_LIST" class="bl_more">Xem thêm</a></p>#}
    </div>


    <!-- location -->
    <div class="location">
        <div class="con">
            <strong class="hall_nm PL_NM">{{ data['place_nm'] }}</strong>
            <p class="hall_add"><i>Địa chỉ : </i> <span class="PL_ADDR">{{ data['place_addr'] }}</span></p>
            <p style="display: none;" class="hall_tel PL_TEL"><i>tel : </i> <span class="tel PL_TEL_NO">{{ data['place_tel'] }}</span></p>
            <a class="btn" href="tel:{{ data['place_tel'] }}" id="PL_TEL_NO"><img src="{{ asset('bundles/viettutweb/templates/template1/img/tel_btn.png') }}" height="auto" width="47"></a>
        </div>
        <p id="MAP_CANVAS" class="map" style="height: 250px;"></p>
        <p class="txt">Gõ chính xác địa chỉ của bạn vào ô dưới đây để có hướng dẫn tốt nhất</p>
        <div class="naver">
            <form action='http://maps.google.com/maps' method='get' target='_blank'>
                <input type='text' name='saddr' placeholder="địa chỉ của bạn"  style="height: 25px;width:300px;"/>
                <input type='hidden' name='daddr' value='{{ data['place_addr'] }}' />
                <input type='submit' value='CHỈ ĐƯỜNG' style="height: 25px;"/>
            </form>
        </div>

        <p class="hall_nm2 PL_NM2" style="display:none">o층 oo홀</p><!-- 백업 -->
    </div>


    <!-- direction -->
    <div class="direction">
        <ul>
            <li class="SUBWAY_CHK">
                <b class="tit">Thông tin tàu điện ngầm</b>
                <pre class="subway_info SUBWAY_INFO">{{ data['subway_info'] }}</pre>
            </li>
            <li class="BUS_CHK">
                <b class="tit">Thông tin xe bus</b>
                <pre class="pbus_info BUS_INFO">{{ data['bus_info'] }}</pre>
            </li>
            <li class="PARKING_CHK">
                <b class="tit">Thông tin chỗ đỗ xe</b>
                <pre class="parking_info PARKING_INFO">{{ data['parking_info'] }}</pre>
            </li>
        </ul>
        <ul>
            <li class="BANQUET_CHK">
                <b class="tit">Lễ tân</b>
                <pre class="banquet_info BANQUET_INFO">Thông tin lễ tân</pre>
            </li>
            <li class="ETC_CHK">
                <b class="tit">Một số lưu ý</b>
                <pre class="add_traffic ETC_INFO">Thông tin</pre>
            </li>
        </ul>
    </div>


    <!-- sns -->
    <div class="sns">
        <ul>
            <li>
                <a class="kakao" id="KAKAOTALK">
                    <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_kakao.png') }}" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="kakaos" id="KAKAOSTORY">
                    <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_kakaos.png') }}" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="facebook" id="FACEBOOK">
                    <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_facebook.png') }}" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="band" id="BAND">
                    <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_band.png') }}" alt="" height="auto" width="67">
                </a>
            </li>
        </ul>
    </div>


    <!-- footer -->
    <div class="footer">
        <p class="logo"><img src="{{ asset('bundles/viettutweb/templates/template1/img/footer_logo.png') }}" alt="" height="21" width="118"></p>
        <a id="TOP" class="top" href="http://card-market.co.kr/mbcard/skin/9/#">
            <img src="{{ asset('bundles/viettutweb/templates/template1/img/footer_top.png') }}" alt="" height="21" width="21"></a>
    </div>
</div>
<!-- //wrap -->

<script src="{{ asset('bundles/viettutweb/js/lib/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/viettutweb/js/lib/jquery-ui-1.10.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/viettutweb/js/lib/jquery.bxslider.min.js') }}" type="text/javascript"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFP7Gn3MRg3XxdnxZ33dKlgHQa7SanZE&callback=initMap">
</script>
<script>
    var cardId = $('.card-info').data('id');
    function initMap() {
        var location = {lat: 21.0384812, lng: 105.793931};
        var map = new google.maps.Map(document.getElementById('MAP_CANVAS'), {
            zoom: 15,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }

    $(document).ready(function(){
        $('.bxslider').bxSlider({
            auto: true,
            autoHover: true,
            controls: false
        });
    });

    function addComment() {
        var content = $('textarea#message').val();
        $.post('/app_dev.php/api/v1/comments', {content:content, card:cardId}, function (response) {
            var html = '<li class="MSG_ITEM" data-msg_idx="83757">' +
                       '    <p class="name">'+ response.author.username + '</p>' +
                       '    <p class="date">' +
                       '        <span>' + response.createdAt + '</span>' +
                       '    </p>' +
                       '    <p class="con">' + response.content + '</p>' +
                       '    <div class="del_b">' +
                       '        <a class="del BTN_DEL_MSG"><img src="/bundles/viettutweb/templates/template1/img/board_del.png" width="12" height="12" alt=""></a>' +
                       '    </div>' +
                       '</li>';
            $(html).hide().appendTo('ul#MSG_LIST').fadeIn(300);
        }, 'json');
    }
</script>
</body>
</html>