<!DOCTYPE html>
<html lang="vi"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="{{ asset('bundles/viettutweb/templates/template1/css/css.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/viettutweb/templates/template1/css/css_002.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/viettutweb/templates/template1/css/css_003.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/templates/template1/css/font_experience.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <meta name="format-detection" content="telephone=no, email=no, address=no">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Template 1">
    <meta property="og:description" content="Template 1">
    {#<meta property="og:url" content="http://card-market.co.kr/mbcard/mb_card.php?mIdx=">#}
    {#<meta property="og:image" content="http://card-market.co.kr/_data/mbcard/photo/out//k.jpg?1507346508">#}

    <title>Template 1</title>
    <!-- base href="http://card-market.co.kr/mbcard/skin/9/" -->
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/templates/template1/css/common.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/viettutweb/templates/template1/css/style.css') }}">
</head>
<body>
<div class="configuration" data-config="{{ template ? template.data|json_encode|e('html_attr') : card.data|json_encode|e('html_attr') }}">
</div>
<!-- wrap -->
<div id="dic_bubble" class="selection_bubble fontSize13 noSelect" style="z-index:9999; border: 1px solid #4AAEDE;fetching=false"></div><div id="wrap">

    <p class="top_txt">THIỆP MỜI</p>

    <!-- visual -->
    <div class="visual">
        <p class="visual_img"><img src="{{ asset('bundles/viettutweb/templates/template1/img/visual_img.jpg') }}" height="auto" width="100%"></p>

        <!-- v_txt -->
        <div class="v_txt">
            <p class="ex">HÔN LỄ CỦA</p>
            <p class="name">
                <b class="groom GR_NM">Tên Chú Rể</b>
                <b class="bride BR_NM">Tên Cô Dâu</b>
            </p>
            <p class="day_b">
                <span class="month_num W_MM">Tháng</span>
                <span class="day_num W_DD">Ngày cưới</span>
            </p>
        </div>
    </div>

    <!-- data_txt -->
    <div class="data_txt">
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/data_txt_line.png') }}" height="auto" width="82">
        <p class="date">
            <span class="year W_WeekKr">Thứ trong tuần</span>
            <span class="year W_TimeKr">Thời gian trong ngày</span>
        </p>
        <p class="hall">
            <span class="PL_NM">Địa điểm tiệc cưới</span>
            <span style="display: none;" class="PL_NM2">00000 0000 0000</span>
        </p>
    </div>


    <!-- greeting -->
    <div class="greeting">
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/greeting_top.png') }}" height="auto" width="100">
        <pre class="gcon GREETING">
            Lời chúc
        </pre>

        <!-- sms -->
        <div class="sms">
            <div class="lft">
                <p>
                    <b class="GR_NM">Tên chú rể</b>
                    <i>GROOM</i>
                </p>
                <div>
                    <a class="call" href="tel:" id="GROOMPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_groom_call.png') }}" alt="" height="auto" width="51"></a>
                    <a class="msg" href="sms:" id="GROOMSMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_groom_msg.png') }}" alt="" height="auto" width="51"></a>
                </div>
            </div>
            <div class="rgt">
                <p>
                    <b class="BR_NM">Tên cô dâu</b>
                    <i>BRIDE</i>
                </p>
                <div>
                    <a class="call" href="tel:" id="BRIDEPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_bride_call.png') }}" alt="" height="auto" width="51"></a>
                    <a class="msg" href="sms:" id="BRIDESMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_bride_msg.png') }}" alt="" height="auto" width="51"></a>
                </div>
            </div>
            <p class="ex"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_and.png') }}" height="auto" width="48"></p>
        </div>
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_img.jpg') }}" class="sms_img" height="auto" width="100%">

        <!-- parent -->
        <div class="parent PARENT_INFO">
            <div class="lft">
                <p>&lt;Nhà Trai&gt;</p>
                <p class="info">
                    <span>Cha </span> <i class="GR_FA">Tên cha chú rể</i>
					<span class="GR_FA_HP">
						<a class="call" href="tel:" id="GROOMFAPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_call.png') }}" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:" id="GROOMFASMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_msg.png') }}" alt="" height="auto" width="26"></a>
					</span>
                </p>
                <p class="info">
                    <span>Mẹ </span> <i class="GR_MO">Tên mẹ chú rể</i>
					<span class="GR_MO_HP">
						<a class="call" href="tel:" id="GROOMMOPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_call.png') }}" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:" id="GROOMMOSMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_msg.png') }}" alt="" height="auto" width="26"></a>
					</span>
                </p>
            </div>
            <div class="rgt">
                <p>&lt;Nhà Gái&gt;</p>
                <p class="info">
                    <span>Cha </span> <i class="BR_FA">Tên cha cô dâu</i>
					<span class="BR_FA_HP">
						<a class="call" href="tel:" id="BRIDEFAPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_call.png') }}" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:" id="BRIDEFASMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_msg2.png') }}" alt="" height="auto" width="26"></a>
					</span>
                </p>
                <p class="info">
                    <span>Mẹ </span> <i class="BR_MO">Tên mẹ cô dâu</i>
					<span class="BR_MO_HP">
						<a class="call" href="tel:" id="BRIDEMOPHONE"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_call.png') }}" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:" id="BRIDEMOSMS"><img src="{{ asset('bundles/viettutweb/templates/template1/img/sms_parent_msg2.png') }}" alt="" height="auto" width="26"></a>
					</span>
                </p>
            </div>
        </div>
    </div>


    <!-- gallery -->
    <div class="gallery">
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/gallery_tit.png') }}" height="auto" width="138">
        <ul id="GAL_LIST" class="lst bxslider">
            <li><img src="{{ asset('bundles/viettutweb/img/products/product-7.jpg') }}" width="100%" height="auto" data-num="0"></li>
            <li><img src="{{ asset('bundles/viettutweb/img/products/product-7.jpg') }}" width="100%" height="auto" data-num="0"></li>
            <li><img src="{{ asset('bundles/viettutweb/img/products/product-7.jpg') }}" width="100%" height="auto" data-num="0"></li>
        </ul>
        <ul class="GAL_TEMPLATES" style="display:none">
            <li><a><img src="{{ asset('bundles/viettutweb/templates/template1/img/blank_thum.jpg') }}" height="auto" width="100%"></a></li>
        </ul>
        <a class="more" id="BTN_MORE_GAL_LIST">
            Xem thêm<br>
            <img src="{{ asset('bundles/viettutweb/templates/template1/img/gallery_more.png') }}" height="auto" width="49">
        </a>
    </div>

    <!-- board -->
    <div class="board">
        <p class="ex_t"><img src="{{ asset('bundles/viettutweb/templates/template1/img/board_top.jpg') }}" height="auto" width="100%"></p>
        <div class="board_form">
            <form method="" action="">
                <p class="txtb"><textarea id="MSG" title="nhập tin nhắn" placeholder="để lại lời chúc mừng"></textarea></p>
                <p class="inpb">
                    <span class="inp"><input id="WRT_NM" title="nhập tên bạn" placeholder="tên bạn" type="text"></span>
                    <span class="inp"><input id="PWD" value="" title="nhập mật khẩu" placeholder="mật khẩu" type="password"></span>
                    <span class="btn"><input id="submit" value="đồng ý" title="Đồng ý" type="submit"></span>
                </p>
            </form>
        </div>

        <ul id="MSG_LIST" class="board_lst">
            <li class="MSG_ITEM" data-msg_idx="83757">
                <p class="name">Ms Elly</p>
                <p class="date">
                    <span>2017-09-14 20:17:17</span>
                </p>
                <p class="con">Chúc mừng hạnh phúc đôi trẻ. Thật tuyệt vời !</p>
                <div class="del_b">
                    <a class="del BTN_DEL_MSG"><img src="{{ asset('bundles/viettutweb/templates/template1/img/board_del.png') }}" width="12" height="12" alt=""></a>
                    <p class="pw_layer POPUP_DEL_MSG" style="display:none">
                        <label for="b_pw">Nhập mật khẩu<label>
                                <input type="password" class="PWD" name="b_pw">
                                <a class="del_cf CNF_DEL_MSG">Kiểm tra</a>
                                <a class="del_cl CCL_DEL_MSG">Hủy</a>
                            </label></label></p>
                </div>
            </li>
        </ul>

        <ul class="TEMPLATES" style="display:none;">
            <li class="MSG_ITEM">
                <p class="name"></p>
                <p class="date">
                    <span>2017-09-14 20:17:17</span>
                </p>
                <p class="con">Chúc mừng hạnh phúc đôi trẻ. Thật tuyệt vời !</p>
                <div class="del_b">
                    <a class="del BTN_DEL_MSG"><img src="{{ asset('bundles/viettutweb/templates/template1/img/board_del.png') }}" alt="" height="12" width="12"></a>
                    <p class="pw_layer POPUP_DEL_MSG" style="display:none">
                        <label for="b_pw">Nhập mật khẩu<label>
                                <input class="PWD" name="b_pw" type="password">
                                <a class="del_cf CNF_DEL_MSG">Kiểm tra</a>
                                <a class="del_cl CCL_DEL_MSG">Hủy</a>
                            </label></label></p>
                </div>
            </li>
        </ul>
        <p id="MORE_MSG_LIST" class="board_lst_more"><a id="BTN_MORE_MSG_LIST" class="bl_more">Xem thêm</a></p>
    </div>


    <!-- location -->
    <div class="location">
        <div class="con">
            <strong class="hall_nm PL_NM">Trống Đồng Palace</strong>
            <p class="hall_add"><i>Địa chỉ : </i> <span class="PL_ADDR">Tòa nhà Hancorp Plaza – Làng quốc tế Thăng Long, 72 Trần Đăng Ninh, Cầu Giấy, Hà Nội</span></p>
            <p style="display: none;" class="hall_tel PL_TEL"><i>tel : </i> <span class="tel PL_TEL_NO">02-0000-0001</span></p>
            <a class="btn" href="tel:undefined" id="PL_TEL_NO"><img src="{{ asset('bundles/viettutweb/templates/template1/img/tel_btn.png') }}" height="auto" width="47"></a>
        </div>
        <p id="MAP_CANVAS" class="map"></p>
        <p class="txt">Gõ chính xác địa chỉ của bạn vào ô dưới đây để có hướng dẫn tốt nhất</p>
        <div class="naver">
            <form action='http://maps.google.com/maps' method='get' target='_blank'>
                Enter your starting address:
                <input type='text' name='saddr' placeholder="địa chỉ của bạn" />
                <input type='hidden' name='daddr' value='Trống Đồng Palace, 72 Trần Đăng Ninh, Cầu Giấy, Hà Nội' />
                <input type='submit' value='CHỈ ĐƯỜNG' />
            </form>
        </div>

        <p class="hall_nm2 PL_NM2" style="display:none">o층 oo홀</p><!-- 백업 -->
    </div>


    <!-- direction -->
    <div class="direction">
        <ul>
            <li class="SUBWAY_CHK">
                <b class="tit">Thông tin tàu điện ngầm</b>
                <pre class="subway_info SUBWAY_INFO">Hướng dẫn</pre>
            </li>
            <li class="BUS_CHK">
                <b class="tit">Thông tin xe bus</b>
                <pre class="pbus_info BUS_INFO">Hướng dẫn</pre>
            </li>
            <li class="PARKING_CHK">
                <b class="tit">Thông tin chỗ đỗ xe</b>
                <pre class="parking_info PARKING_INFO">Hướng dẫn</pre>
            </li>
        </ul>
        <ul>
            <li class="BANQUET_CHK">
                <b class="tit">Lễ tân</b>
                <pre class="banquet_info BANQUET_INFO">Thông tin lễ tân</pre>
            </li>
            <li class="ETC_CHK">
                <b class="tit">Một số lưu ý</b>
                <pre class="add_traffic ETC_INFO">Thông tin</pre>
            </li>
        </ul>
    </div>


    <!-- sns -->
    <div class="sns">
        <ul>
            <li>
                <a class="kakao" id="KAKAOTALK">
                    <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_kakao.png') }}" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="kakaos" id="KAKAOSTORY">
                    <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_kakaos.png') }}" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="facebook" id="FACEBOOK">
                    <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_facebook.png') }}" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="band" id="BAND">
                    <img src="{{ asset('bundles/viettutweb/templates/template1/img/sns_band.png') }}" alt="" height="auto" width="67">
                </a>
            </li>
        </ul>
    </div>


    <!-- footer -->
    <div class="footer">
        <p class="logo"><img src="{{ asset('bundles/viettutweb/templates/template1/img/footer_logo.png') }}" alt="" height="21" width="118"></p>
        <a id="TOP" class="top" href="http://card-market.co.kr/mbcard/skin/9/#">
            <img src="{{ asset('bundles/viettutweb/templates/template1/img/footer_top.png') }}" alt="" height="21" width="21"></a>
    </div>
</div>
<!-- //wrap -->


<div id="ZOOM_LAYER" class="map_zoom">
    <div class="top_bar"><p class="btn_close">닫기</p></div>
    <div id="MAP_CANVAS_FS" class="map_fs"></div>
</div>

<div id="GAL_LAYER" class="gallery_zoom" style="display:none">
    <img src="{{ asset('bundles/viettutweb/templates/template1/img/gallery_tit.png') }}" height="auto" width="138">
    <ul id="GAL_LIST_ALL" class="lst">
    </ul>
    <a class="btn_close" style="">
        사진보기 닫기<br>
        <img src="{{ asset('bundles/viettutweb/templates/template1/img/gallery_more.png') }}" height="auto" width="49">
    </a>
</div>

<div id="IMG_LAYER" class="img_zoom" style="display:none">
    <div class="top_bar"><p class="btn_close">닫기</p></div>
    <ul id="VIEWER_LIST">
    </ul>
    <ul class="VIEW_TEMPLATES" style="display:none">
        <li class="viewer"><img height="auto" width="100%"></li>
    </ul>
</div>




<script src="{{ asset('bundles/viettutweb/js/lib/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/viettutweb/js/lib/jquery-ui.min.js') }}" type="text/javascript"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFP7Gn3MRg3XxdnxZ33dKlgHQa7SanZE&callback=initMap">
</script>
<script>
    function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('MAP_CANVAS'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            icon : '/bundles/viettutweb/templates/template1/img/location_point.png'
        });
    }

    $(document).ready(function(){
        $('.bxslider').bxSlider();
    });
</script>
</body>
</html>