{% extends 'base.html.twig' %}
{% block title %}Danh sách sản phẩm{% endblock %}
{% block description %}
    Những sản phẩm được tạo ra từ dịch vụ của Thiệp Đỏ
{% endblock %}
{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Sản phẩm</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
                {% for card in pagination %}
                    <li class="col-md-3 col-sm-6 col-xs-12 isotope-item popular">
                        <div class="portfolio-item img-thumbnail">
                            <a href="{{ path('card_page', {hash: card.hash}) }}" target="_blank" class="thumb-info">
                                <img alt="thumbnail image" class="img-responsive" src="{{ card.template.thumbnail }}"/>
                                <span class="thumb-info-action">
                                    <span title="{{ card.name }}" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                </span>
                            </a>
                            <div class="row col-md-12 temp-margin">
                                <a href="{{ path('card_page', {hash: card.hash}) }}" target="_blank"><span class="text-primary">{{ card.name }} - {{ card.weddingDate | date('d-m-Y') }}</span></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="row">
            <ul class="pagination pagination-lg pull-right">
                {{ knp_pagination_render(pagination) }}
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function(){
            $('.portfolio-list').isotope({
                // options
                itemSelector: '.isotope-item',
                layoutMode: 'fitRows'
            });
        });
    </script>
{% endblock %}
