{% extends 'base.html.twig' %}
{% block title %}Trang chủ - Tạo thiệp cưới điện tử miễn phí{% endblock %}
{% block description %}
    Giới thiệu dịch vụ Thiệp Đỏ, tạo thiệp cưới, thiệp sinh nhật, giấy mời sự kiện online miễn phí, đăng nhập và chia sẻ qua mạng xã hội Zalo, Facebook, Messenger ...
{% endblock %}
{% block main %}
    <div class="slider-container">
        <div class="slider" id="revolutionSlider" data-plugin-revolution-slider
             data-plugin-options='{"startheight": 500}'>
            <ul>
                <li data-transition="fade" data-slotamount="13" data-masterspeed="300">

                    <img src="{{ asset('bundles/viettutweb/img/slides/slide-bg.jpg') }}" data-bgfit="cover"
                         data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption sft stb visible-lg"
                         data-x="177"
                         data-y="180"
                         data-speed="300"
                         data-start="1000"
                         data-easing="easeOutExpo"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-title-border.png') }}" alt=""></div>

                    <div class="tp-caption top-label lfl stl"
                         data-x="227"
                         data-y="180"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo">BẠN CHUẨN BỊ
                    </div>

                    <div class="tp-caption sft stb visible-lg"
                         data-x="400"
                         data-y="180"
                         data-speed="300"
                         data-start="1000"
                         data-easing="easeOutExpo"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-title-border.png') }}" alt=""></div>

                    <div class="tp-caption main-label sft stb"
                         data-x="145"
                         data-y="230"
                         data-speed="300"
                         data-start="1500"
                         data-easing="easeOutExpo">KẾT HÔN ?
                    </div>

                    <div class="tp-caption bottom-label sft stb"
                         data-x="115"
                         data-y="320"
                         data-speed="500"
                         data-start="2000"
                         data-easing="easeOutExpo">Bạn không có thời gian đi phát thiệp hay gọi điện mời ?
                    </div>

                    <div class="tp-caption randomrotate"
                         data-x="905"
                         data-y="248"
                         data-speed="500"
                         data-start="2500"
                         data-easing="easeOutBack"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-1.png') }}" alt=""></div>

                    <div class="tp-caption sfb"
                         data-x="955"
                         data-y="200"
                         data-speed="400"
                         data-start="3000"
                         data-easing="easeOutBack"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-2.png') }}" alt=""></div>

                    <div class="tp-caption sfb"
                         data-x="925"
                         data-y="170"
                         data-speed="700"
                         data-start="3150"
                         data-easing="easeOutBack"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-3.png') }}" alt=""></div>

                    <div class="tp-caption sfb"
                         data-x="875"
                         data-y="130"
                         data-speed="1000"
                         data-start="3250"
                         data-easing="easeOutBack"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-4.png') }}" alt=""></div>

                    <div class="tp-caption sfb"
                         data-x="605"
                         data-y="80"
                         data-speed="600"
                         data-start="3450"
                         data-easing="easeOutExpo"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-5.png') }}" alt=""></div>

                    <div class="tp-caption blackboard-text lfb "
                         data-x="635"
                         data-y="330"
                         data-speed="500"
                         data-start="3450"
                         data-easing="easeOutExpo" style="font-size: 37px;">Thiệp điện tử
                    </div>

                    <div class="tp-caption blackboard-text lfb "
                         data-x="660"
                         data-y="390"
                         data-speed="500"
                         data-start="3650"
                         data-easing="easeOutExpo" style="font-size: 42px;">Sẽ
                    </div>

                    <div class="tp-caption blackboard-text lfb "
                         data-x="685"
                         data-y="450"
                         data-speed="500"
                         data-start="3850"
                         data-easing="easeOutExpo" style="font-size: 32px;">Giải cứu bạn
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="6" data-masterspeed="1000">

                    <img src="{{ asset('bundles/viettutweb/img/slides/slide-bg.jpg') }}" data-bgfit="cover"
                         data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption sft stb"
                         data-x="155"
                         data-y="100"
                         data-speed="600"
                         data-start="100"
                         data-easing="easeOutExpo"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept.png') }}" alt=""></div>

                    <div class="tp-caption blackboard-text sft stb"
                         data-x="285"
                         data-y="180"
                         data-speed="900"
                         data-start="1000"
                         data-easing="easeOutExpo" style="font-size: 30px;">thay đổi
                    </div>

                    <div class="tp-caption blackboard-text sft stb"
                         data-x="285"
                         data-y="220"
                         data-speed="900"
                         data-start="1200"
                         data-easing="easeOutExpo" style="font-size: 30px;">mẫu thiệp
                    </div>

                    <div class="tp-caption main-label sft stb"
                         data-x="685"
                         data-y="190"
                         data-speed="300"
                         data-start="1600"
                         data-easing="easeOutExpo">BẤT CỨ LÚC NÀO
                    </div>

                    {#<div class="tp-caption main-label sft stb"#}
                         {#data-x="785"#}
                         {#data-y="290"#}
                         {#data-speed="300"#}
                         {#data-start="2100"#}
                         {#data-easing="easeOutExpo">MỌI NƠI#}
                    {#</div>#}

                    <div class="tp-caption bottom-label sft stb"
                         data-x="835"
                         data-y="290"
                         data-speed="500"
                         data-start="2800"
                         data-easing="easeOutExpo">Trong vòng một nốt nhạc !
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <div class="home-intro" id="home-intro">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <p>
                        Để tiết kiệm thời gian và không phải soạn tin cho từng người.
                        <span>Cùng khám phá những tính năng của Thiệp Đỏ</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="get-started">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-primary">Đăng Ký Ngay</a>
                        <div class="learn-more"> hoặc <a href="{{ path('services_page') }}">tìm hiểu thêm</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="home-concept">
        <div class="container">

            <div class="row center">
                <span class="sun"></span>
                <span class="cloud"></span>
                <div class="col-md-2 col-md-offset-1">
                    <div class="process-image" data-appear-animation="bounceIn">
                        <img src="{{ asset('bundles/viettutweb/img/logos/select_template.png') }}" alt=""/>
                        <a href="{{ path('templates_page') }}"><strong>B1: Chọn mẫu</strong></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                        <img src="{{ asset('bundles/viettutweb/img/logos/adjust.png') }}" alt=""/>
                        <strong>B2: Chỉnh sửa</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                        <img src="{{ asset('bundles/viettutweb/img/logos/preview.png') }}" alt=""/>
                        <strong>B3: Xem Trước</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="project-image">
                        <div id="fcSlideshow" class="fc-slideshow">
                            <ul class="fc-slides">
                                <li>
                                    <a href="#">
                                        <img class="img-responsive" src="{{ asset('bundles/viettutweb/img/logos/facebook_circle_icon.png') }}"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-responsive" src="{{ asset('bundles/viettutweb/img/logos/twitter_circle_icon.png') }}"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-responsive" src="{{ asset('bundles/viettutweb/img/logos/zalo_cicle_icon.png') }}"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-responsive" src="{{ asset('bundles/viettutweb/img/logos/instagram-circle_icon.jpg') }}"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <strong class="our-work">B4: Chia sẻ</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <hr class="tall"/>
        </div>
    </div>
    <div class="container">
        <h2>Mẫu thiệp <strong>nổi bật</strong></h2>
        <div class="owl-carousel" data-plugin-options='{"items": 3, "autoplay": true, "autoplayTimeout": 3000, "autoplayHoverPause": true}'>
            {% for template in templates %}
                <div>
                    <a href="{{ path('template_page', {hash: template.hash}) }}" title="{{ template.name }}"><img class="img-responsive" src="{{ template.thumbnail }}" alt="{{ template.name }}"></a>
                </div>
            {% endfor %}
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Beautiful Day"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/beautiful_day.png') }}" alt=""></a>
            </div>
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Christmas Wedding"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/christmas_wedding.png') }}" alt=""></a>
            </div>
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Cotton Candy"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/cotton_candy.png') }}" alt=""></a>
            </div>
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Innocent Bride"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/innocent_bride.png') }}" alt=""></a>
            </div>
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Love Blossom"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/love_blossom.png') }}" alt=""></a>

            </div>
        </div>
        <div class="row">
            <a class="btn btn-primary pull-right" href="{{ path('templates_page') }}">Xem thêm</a>
        </div>
    </div>
    <hr class="tall"/>
    <div class="container">
        <h2><strong>Tính năng </strong>chính </h2>
        <div class="row featured-boxes">
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-primary">
                    <div class="box-content">
                        <i class="icon-featured fa fa-line-chart"></i>
                        <h4>Thống kê</h4>
                        <p>Ước lượng số khách đến dự thông qua cơ chế khảo sát của Facebook Event, không lưu thông tin của người khảo sát.<a href="{{ path('faq_page') }}" class="learn-more">xem thêm <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-secundary">
                    <div class="box-content">
                        <i class="icon-featured fa fa-facebook"></i>
                        <h4>Mạng Xã Hội</h4>
                        <p>Tải album, video từ Facebook, YouTube, Zalo ... Dễ dàng chia sẻ qua tin nhắn Messenger !<a href="{{ path('faq_page') }}" class="learn-more">xem thêm <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-tertiary">
                    <div class="box-content">
                        <i class="icon-featured fa fa-comments-o"></i>
                        <h4>Lưu Bút</h4>
                        <p>Mọi người đều có thể để lại lời chúc mừng chỉ với một tài khoản Zalo hoặc Facebook !<a href="{{ path('faq_page') }}" class="learn-more">xem thêm <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-quartenary">
                    <div class="box-content">
                        <i class="icon-featured fa fa-map-marker"></i>
                        <h4>Chỉ Đường</h4>
                        <p>Thông tin hướng dẫn tìm xe khách, đỗ xe, tìm nhà chi tiết và chỉ đường trên Google Map ! <a href="{{ path('faq_page') }}" class="learn-more">xem thêm <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<hr class="tall"/>#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#<h2><strong>Tính năng chính</strong></h2>#}
                {#<div class="row">#}
                    {#<div class="col-sm-6">#}
                        {#<div class="feature-box">#}
                            {#<div class="feature-box-icon">#}
                                {#<i class="fa fa-money"></i>#}
                            {#</div>#}
                            {#<div class="feature-box-info">#}
                                {#<h4 class="shorter">Miễn phí</h4>#}
                                {#<p class="tall">Bạn hoàn toàn không phải trả thêm một loại phí nào !</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="feature-box">#}
                            {#<div class="feature-box-icon">#}
                                {#<i class="fa fa-picture-o"></i>#}
                            {#</div>#}
                            {#<div class="feature-box-info">#}
                                {#<h4 class="shorter">Album ảnh</h4>#}
                                {#<p class="tall">Số lượng không giới hạn. Có thể chỉnh sửa bất cứ lúc nào.</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="feature-box">#}
                            {#<div class="feature-box-icon">#}
                                {#<i class="fa fa-comments-o"></i>#}
                            {#</div>#}
                            {#<div class="feature-box-info">#}
                                {#<h4 class="shorter">Sổ lưu bút</h4>#}
                                {#<p class="tall">Cùng chia sẻ niềm hạnh phúc với bạn bè người thân bằng những lời chúc tốt đẹp.</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="feature-box">#}
                            {#<div class="feature-box-icon">#}
                                {#<i class="fa fa-youtube"></i>#}
                            {#</div>#}
                            {#<div class="feature-box-info">#}
                                {#<h4 class="shorter">Video</h4>#}
                                {#<p class="tall">Mỗi thiệp bao gồm một Youtube video để có thể lưu giữ những khoảnh khắc đáng nhớ.</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-sm-6">#}
                        {#<div class="feature-box">#}
                            {#<div class="feature-box-icon">#}
                                {#<i class="fa fa-map-marker"></i>#}
                            {#</div>#}
                            {#<div class="feature-box-info">#}
                                {#<h4 class="shorter">Bản đồ</h4>#}
                                {#<p class="tall">Hướng dẫn, chỉ đường chính xác và chi tiết.</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="feature-box">#}
                            {#<div class="feature-box-icon">#}
                                {#<i class="fa fa-facebook"></i>#}
                            {#</div>#}
                            {#<div class="feature-box-info">#}
                                {#<h4 class="shorter">Mạng xã hội</h4>#}
                                {#<p class="tall">Thiệp mời dễ dàng chia sẻ qua Zalo, Facebook ... Tải album, video từ Facebook </p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="feature-box">#}
                            {#<div class="feature-box-icon">#}
                                {#<i class="fa fa-mobile"></i>#}
                            {#</div>#}
                            {#<div class="feature-box-info">#}
                                {#<h4 class="shorter">Responsive</h4>#}
                                {#<p class="tall">Các mẫu thiệp được thiết kế tối ưu để xem trên điện thoại và máy tính bảng.</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="feature-box">#}
                            {#<div class="feature-box-icon">#}
                                {#<i class="fa fa-bolt"></i>#}
                            {#</div>#}
                            {#<div class="feature-box-info">#}
                                {#<h4 class="shorter">Nhanh chóng</h4>#}
                                {#<p class="tall">Tạo thiệp nhanh chóng chỉ sau vài thao tác. Xem trước trên giao diện thiết bị di động. Thay đổi mẫu bất cứ lúc nào</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    <hr class="tall"/>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="recent-posts push-bottom">
                    <h2><strong>Bài viết</strong> mới nhất</h2>
                    <div class="row">
                        <div class="owl-carousel" data-plugin-options='{"items": 1}'>
                            {% for post in posts %}
                                <div class="col-md-12">
                                    <article>
                                        <div class="date">
                                            <span class="day">{{ post.createdAt | date('d') }}</span>
                                            <span class="month">{{ post.createdAt | date('M') }}</span>
                                        </div>
                                        <h4><a href="{{ path('single_post_page', {hash:post.hash}) }}">{{ post.title }}</a></h4>
                                        <p>
                                            {{ post.summary | raw }}
                                            <a href="{{ path('single_post_page', {hash:post.hash}) }}" class="read-more">đọc thêm <i class="fa fa-angle-right"></i></a>
                                        </p>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2><strong>Khách hàng</strong> nói gì</h2>
                <div class="row">
                    <div class="owl-carousel push-bottom" data-plugin-options='{"items": 1}'>
                        {% for testimonial in testimonials %}
                            <div>
                                <div class="col-md-12">
                                    <blockquote class="testimonial">
                                        <p>{{ testimonial.content }}</p>
                                    </blockquote>
                                    <div class="testimonial-arrow-down"></div>
                                    <div class="testimonial-author">
                                        <div class="img-thumbnail img-thumbnail-small">
                                            <img src="{{ testimonial.image }}"
                                                 alt="">
                                        </div>
                                        <p><strong>{{ testimonial.name }}</strong><span>{{ testimonial.profession }}</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}