{% extends 'base.html.twig' %}

{% block main %}
    <div class="slider-container">
        <div class="slider" id="revolutionSlider" data-plugin-revolution-slider
             data-plugin-options='{"startheight": 500}'>
            <ul>
                <li data-transition="fade" data-slotamount="13" data-masterspeed="300">

                    <img src="{{ asset('bundles/viettutweb/img/slides/slide-bg.jpg') }}" data-bgfit="cover"
                         data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption sft stb visible-lg"
                         data-x="177"
                         data-y="180"
                         data-speed="300"
                         data-start="1000"
                         data-easing="easeOutExpo"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-title-border.png') }}" alt=""></div>

                    <div class="tp-caption top-label lfl stl"
                         data-x="227"
                         data-y="180"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo">BẠN CẦN MỘT TẤM
                    </div>

                    <div class="tp-caption sft stb visible-lg"
                         data-x="477"
                         data-y="180"
                         data-speed="300"
                         data-start="1000"
                         data-easing="easeOutExpo"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-title-border.png') }}" alt=""></div>

                    <div class="tp-caption main-label sft stb"
                         data-x="135"
                         data-y="210"
                         data-speed="300"
                         data-start="1500"
                         data-easing="easeOutExpo">THIỆP CƯỚI
                    </div>

                    <div class="tp-caption bottom-label sft stb"
                         data-x="185"
                         data-y="280"
                         data-speed="500"
                         data-start="2000"
                         data-easing="easeOutExpo">Hãy khám phá dịch vụ của chúng tôi !
                    </div>

                    <div class="tp-caption randomrotate"
                         data-x="905"
                         data-y="248"
                         data-speed="500"
                         data-start="2500"
                         data-easing="easeOutBack"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-1.png') }}" alt=""></div>

                    <div class="tp-caption sfb"
                         data-x="955"
                         data-y="200"
                         data-speed="400"
                         data-start="3000"
                         data-easing="easeOutBack"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-2.png') }}" alt=""></div>

                    <div class="tp-caption sfb"
                         data-x="925"
                         data-y="170"
                         data-speed="700"
                         data-start="3150"
                         data-easing="easeOutBack"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-3.png') }}" alt=""></div>

                    <div class="tp-caption sfb"
                         data-x="875"
                         data-y="130"
                         data-speed="1000"
                         data-start="3250"
                         data-easing="easeOutBack"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-4.png') }}" alt=""></div>

                    <div class="tp-caption sfb"
                         data-x="605"
                         data-y="80"
                         data-speed="600"
                         data-start="3450"
                         data-easing="easeOutExpo"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept-2-5.png') }}" alt=""></div>

                    <div class="tp-caption blackboard-text lfb "
                         data-x="635"
                         data-y="300"
                         data-speed="500"
                         data-start="3450"
                         data-easing="easeOutExpo" style="font-size: 37px;">Đơn giản
                    </div>

                    <div class="tp-caption blackboard-text lfb "
                         data-x="660"
                         data-y="350"
                         data-speed="500"
                         data-start="3650"
                         data-easing="easeOutExpo" style="font-size: 47px;">Nhanh chóng
                    </div>

                    <div class="tp-caption blackboard-text lfb "
                         data-x="685"
                         data-y="400"
                         data-speed="500"
                         data-start="3850"
                         data-easing="easeOutExpo" style="font-size: 32px;">Sang trọng !
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="1000">

                    <img src="{{ asset('bundles/viettutweb/img/slides/slide-bg.jpg') }}" data-bgfit="cover"
                         data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption sft stb"
                         data-x="155"
                         data-y="100"
                         data-speed="600"
                         data-start="100"
                         data-easing="easeOutExpo"><img
                                src="{{ asset('bundles/viettutweb/img/slides/slide-concept.png') }}" alt=""></div>

                    <div class="tp-caption blackboard-text sft stb"
                         data-x="285"
                         data-y="180"
                         data-speed="900"
                         data-start="1000"
                         data-easing="easeOutExpo" style="font-size: 30px;">dễ dàng
                    </div>

                    <div class="tp-caption blackboard-text sft stb"
                         data-x="285"
                         data-y="220"
                         data-speed="900"
                         data-start="1200"
                         data-easing="easeOutExpo" style="font-size: 40px;">tùy chỉnh!
                    </div>

                    <div class="tp-caption main-label sft stb"
                         data-x="685"
                         data-y="190"
                         data-speed="300"
                         data-start="900"
                         data-easing="easeOutExpo">THIẾT KẾ!
                    </div>

                    <div class="tp-caption bottom-label sft stb"
                         data-x="685"
                         data-y="250"
                         data-speed="500"
                         data-start="2000"
                         data-easing="easeOutExpo">Với các mẫu thiệp cực kute !
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <div class="home-intro" id="home-intro">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <p>
                        Cách nhanh nhất để gửi <em>lời mời</em> đến những người bạn ở xa.
                        <span>Cùng khám phá những tính năng của <em>Thiệp Đỏ</em></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="get-started">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-primary">Đăng Ký
                            Ngay</a>
                        <div class="learn-more">or <a href="{{ path('services_page') }}">tìm hiểu thêm</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {#<div class="container">#}

    {#<div class="row center">#}
    {#<div class="col-md-12">#}
    {#<h1 class="short word-rotator-title">#}
    {#Porto is#}
    {#<strong class="inverted">#}
    {#<span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>#}
    {#<span class="word-rotate-items">#}
    {#<span>incredibly</span>#}
    {#<span>especially</span>#}
    {#<span>extremely</span>#}
    {#</span>#}
    {#</span>#}
    {#</strong>#}
    {#beautiful and fully responsive.#}
    {#</h1>#}
    {#<p class="featured lead">#}
    {#Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.#}
    {#</p>#}
    {#</div>#}
    {#</div>#}

    {#</div>#}

    <div class="home-concept">
        <div class="container">

            <div class="row center">
                <span class="sun"></span>
                <span class="cloud"></span>
                <div class="col-md-2 col-md-offset-1">
                    <div class="process-image" data-appear-animation="bounceIn">
                        <img src="{{ asset('bundles/viettutweb/img/logos/select_template.png') }}" alt=""/>
                        <strong>Chọn mẫu</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                        <img src="{{ asset('bundles/viettutweb/img/logos/adjust.png') }}" alt=""/>
                        <strong>Chỉnh sửa</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                        <img src="{{ asset('bundles/viettutweb/img/logos/preview.png') }}" alt=""/>
                        <strong>Xem Trước</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="project-image">
                        <div id="fcSlideshow" class="fc-slideshow">
                            <ul class="fc-slides">
                                <li><a href="portfolio-single-project.html"><img class="img-responsive"
                                                                                 src="{{ asset('bundles/viettutweb/img/logos/facebook_circle_icon.png') }}"/></a>
                                </li>
                                <li><a href="portfolio-single-project.html"><img class="img-responsive"
                                                                                 src="{{ asset('bundles/viettutweb/img/logos/twitter_circle_icon.png') }}"/></a>
                                </li>
                                <li><a href="portfolio-single-project.html"><img class="img-responsive"
                                                                                 src="{{ asset('bundles/viettutweb/img/logos/zalo_cicle_icon.png') }}"/></a>
                                </li>
                                <li><a href="portfolio-single-project.html"><img class="img-responsive"
                                                                                 src="{{ asset('bundles/viettutweb/img/logos/instagram-circle_icon.jpg') }}"/></a>
                                </li>
                                <li><a href="portfolio-single-project.html"><img class="img-responsive"
                                                                                 src="{{ asset('bundles/viettutweb/img/logos/google_plus_circle_icon.png') }}"/></a>
                                </li>
                            </ul>
                        </div>
                        <strong class="our-work">Chia sẻ</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <hr class="tall"/>
        </div>
    </div>
    <div class="container">
        <h2>Mẫu thiệp <strong>nổi bật</strong></h2>
        <div class="owl-carousel" data-plugin-options='{"items": 3, "autoplay": true, "autoplayTimeout": 3000, "autoplayHoverPause": true}'>
            {% for template in templates %}
                <div>
                    <a href="{{ path('template_page', {hash: template.hash}) }}" title="{{ template.name }}"><img class="img-responsive" src="{{ template.thumbnail }}" alt="{{ template.name }}"></a>
                </div>
            {% endfor %}
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Beautiful Day"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/beautiful_day.png') }}" alt=""></a>
            </div>
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Christmas Wedding"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/christmas_wedding.png') }}" alt=""></a>
            </div>
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Cotton Candy"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/cotton_candy.png') }}" alt=""></a>
            </div>
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Innocent Bride"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/innocent_bride.png') }}" alt=""></a>
            </div>
            <div>
                <a href="{{ path('coming_soon_page') }}" title="Love Blossom"><img class="img-responsive" src="{{ asset('bundles/viettutweb/img/templates/common/love_blossom.png') }}" alt=""></a>

            </div>
        </div>
        <div class="row">
            <a class="btn btn-primary pull-right" href="{{ path('templates_page') }}">Xem thêm</a>
        </div>
    </div>
    <hr class="tall"/>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><strong>Tính năng chính</strong></h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Miễn phí</h4>
                                <p class="tall">Bạn hoàn toàn không phải trả thêm một loại phí nào !</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Album ảnh</h4>
                                <p class="tall">Số lượng không giới hạn. Có thể chỉnh sửa bất cứ lúc nào.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-commenting"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Sổ lưu bút</h4>
                                <p class="tall">Cùng chia sẻ niềm hạnh phúc với bạn bè người thân bằng những lời chúc tốt đẹp.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-youtube"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Video</h4>
                                <p class="tall">Mỗi thiệp bao gồm một Youtube video để có thể lưu giữ những khoảnh khắc đáng nhớ.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Bản đồ</h4>
                                <p class="tall">Hướng dẫn, chỉ đường chính xác và chi tiết.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-share-alt"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Chia sẻ</h4>
                                <p class="tall">Thiệp mời dễ dàng chia sẻ qua Zalo, Facebook ...</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Responsive</h4>
                                <p class="tall">Các mẫu thiệp được thiết kế tối ưu để xem trên điện thoại và máy tính bảng.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Nhanh chóng</h4>
                                <p class="tall">Tạo thiệp nhanh chóng chỉ sau vài thao tác. Xem trước trên giao diện thiết bị di động.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="col-md-4">#}
                {#<h2>and more...</h2>#}

                {#<div class="panel-group" id="accordion">#}
                    {#<div class="panel panel-default">#}
                        {#<div class="panel-heading">#}
                            {#<h4 class="panel-title">#}
                                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"#}
                                   {#href="#collapseOne">#}
                                    {#<i class="fa fa-usd"></i>#}
                                    {#Pricing Tables#}
                                {#</a>#}
                            {#</h4>#}
                        {#</div>#}
                        {#<div id="collapseOne" class="accordion-body collapse in">#}
                            {#<div class="panel-body">#}
                                {#Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id#}
                                {#enim sit amet odio vulputate eleifend in in tortor.#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="panel panel-default">#}
                        {#<div class="panel-heading">#}
                            {#<h4 class="panel-title">#}
                                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"#}
                                   {#href="#collapseTwo">#}
                                    {#<i class="fa fa-comment"></i>#}
                                    {#Contact Forms#}
                                {#</a>#}
                            {#</h4>#}
                        {#</div>#}
                        {#<div id="collapseTwo" class="accordion-body collapse">#}
                            {#<div class="panel-body">#}
                                {#Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="panel panel-default">#}
                        {#<div class="panel-heading">#}
                            {#<h4 class="panel-title">#}
                                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"#}
                                   {#href="#collapseThree">#}
                                    {#<i class="fa fa-laptop"></i>#}
                                    {#Portfolio Pages#}
                                {#</a>#}
                            {#</h4>#}
                        {#</div>#}
                        {#<div id="collapseThree" class="accordion-body collapse">#}
                            {#<div class="panel-body">#}
                                {#Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>

    <hr class="tall"/>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="recent-posts push-bottom">
                    <h2><strong>Bài viết</strong> mới nhất</h2>
                    <div class="row">
                        <div class="owl-carousel" data-plugin-options='{"items": 1}'>
                            {% for post in posts %}
                                <div class="col-md-12">
                                    <article>
                                        <div class="date">
                                            <span class="day">{{ post.createdAt | date('d') }}</span>
                                            <span class="month">{{ post.createdAt | date('M') }}</span>
                                        </div>
                                        <h4><a href="{{ path('single_post_page', {hash:post.hash}) }}">{{ post.title }}</a></h4>
                                        <p>
                                            {{ post.content }}
                                            <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a>
                                        </p>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2><strong>Khách hàng</strong> nói gì</h2>
                <div class="row">
                    <div class="owl-carousel push-bottom" data-plugin-options='{"items": 1}'>
                        {% for testimonial in testimonials %}
                            <div>
                                <div class="col-md-12">
                                    <blockquote class="testimonial">
                                        <p>{{ testimonial.content }}</p>
                                    </blockquote>
                                    <div class="testimonial-arrow-down"></div>
                                    <div class="testimonial-author">
                                        <div class="img-thumbnail img-thumbnail-small">
                                            <img src="{{ testimonial.image }}"
                                                 alt="">
                                        </div>
                                        <p><strong>{{ testimonial.name }}</strong><span>{{ testimonial.profession }}</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}