{% extends 'base.html.twig' %}
{% block title %}Danh sách sản phẩm{% endblock %}
{% block description %}
    Những sản phẩm được tạo ra từ dịch vụ của Thiệp Đỏ
{% endblock %}
{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Sản phẩm</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
                {% for card in cards %}
                    <li class="col-md-3 col-sm-6 col-xs-12 isotope-item popular">
                        <div class="portfolio-item img-thumbnail">
                            <a href="{{ path('card_page', {hash: card.hash}) }}" target="_blank" class="thumb-info">
                                <img alt="thumbnail image" class="img-responsive" src="{{ card.template.thumbnail }}"/>
                                <span class="thumb-info-action">
                                    <span title="{{ card.data['groom_name'] }} & {{ card.data['bride_name'] }}" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                </span>
                            </a>
                            <div class="row col-md-12 temp-margin">
                                <a href="{{ path('card_page', {hash: card.hash}) }}" target="_blank"><span class="text-primary">{{ card.data['groom_name'] }} & {{ card.data['bride_name'] }} - {{ card.weddingDate | date('d-m-Y') }}</span></a>
                            </div>
                            <div class="row col-md-12 temp-margin">
                                {#<button type="button" class="btn btn-primary pull-left btn_page_preview disabled" >Xem trước</button>#}
                                <button class="btn btn-primary pull-right" onclick="copyCard({{ card.libraryCard.id }}, {{ card.template.id }}, '{{ card.weddingDate | date('Y-m-d H:i') }}', '{{ card.data['groom_name'] }}', '{{ card.data['bride_name'] }}', {% if card.forGroom %}false{% else %}true{% endif %})">Copy Thiệp</button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('bundles/viettutweb/js/lib/jquery.datetimepicker.full.min.js') }}"></script>
<script type="text/javascript">
    function copyCard(libCard, template, date, groom, bride, forGroom) {
        var data = {};
        data['template'] = template;
        data['weddingDate'] = date;
        data['forGroom'] = forGroom;
        data['libraryCard'] = libCard;

        data['data'] = {};
        data['data']['groom_name'] = groom;
        data['data']['bride_name'] = bride;

        $.ajax({
            headers : {
                'Content-Type' : 'application/json; charset=utf-8'
            },
            url : '/api/v1/cards',
            type : 'POST',
            data : JSON.stringify(data),
            success : function(response, textStatus, jqXhr) {
                var url = '/cards/' + response.hash + '/edit';
                window.location.href = url;
            },
            error : function(jqXHR, textStatus, errorThrown) {
            },
            complete : function() {
            }
        });
    }

</script>
{% endblock %}

