{% extends 'base.html.twig' %}

{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="blog-posts">
                     {% for post in pagination %}
                         <article class="post post-large">
                             <div class="post-image">
                                 <div class="img-thumbnail">
                                     <img class="img-responsive" src="{{ asset('bundles/viettutweb/img/blog/blog-image-3.jpg') }}" alt="">
                                 </div>
                             </div>

                             <div class="post-date">
                                 <span class="day">{{ post.createdAt | date('d') }}</span>
                                 <span class="month">{{ post.createdAt | date('M') }}</span>
                             </div>

                             <div class="post-content">

                                 <h2><a href="{{ path('single_post_page', {hash: post.hash}) }}">{{ post.title }}</a></h2>
                                 <p>{{ post.summary | raw }}</p>

                                 <div class="post-meta">
                                     <span><i class="fa fa-user"></i> By <a href="#">{{ post.author.username }}</a> </span>
                                     <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                                     <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                                     <a href="{{ path('single_post_page', {hash: post.hash}) }}" class="btn btn-xs btn-primary pull-right">Đọc thêm...</a>
                                 </div>

                             </div>
                         </article>
                     {% endfor %}

                    <ul class="pagination pagination-lg pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </ul>

                </div>
            </div>

        </div>

    </div>
{% endblock %}