{% extends 'base.html.twig' %}
{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="blog-posts single-post">
                    <article class="post post-large blog-single-post">
                        <div class="post-date">
                            <span class="day">{{ post.createdAt | date('d/m') }}</span>
                            <span class="month">{{ post.createdAt | date('l') }}</span>
                        </div>
                        <div class="post-content">
                            <h2><a href="#">{{ post.title }}</a></h2>
                            <div class="post-meta">
                                <span><i class="fa fa-user"></i> By <a href="#">{{ post.author.name }}</a> </span>
                                <span><i class="fa fa-tag"></i> <a href="#">Blog</a>, <a href="#">News</a> </span>
                            </div>
                            <hr class="tall"/>
                            <p>{{ post.content | raw }}</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </div>
{% endblock %}